{{define "banner"}}
    <!-- 轮播 -->
    <div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            {{ range $k,$v := .data.banner}}
                <div class="item {{if eq $k 0 }} active {{end}}">
                    {{ if .TargetLink }}
                        <a href="{{.TargetLink}}"><img src="{{.Imgurl}}" alt="{{.Info}}"></a>
                    {{else}}
                        <img src="{{.Imgurl}}" alt="{{.Info}}"><
                    {{end}}
                </div>
            {{end}}
        </div>
    </div>
{{end}}