{{define "index_footer"}}
    <!-- 版权 -->
    <footer>
        <section class="footer_con">
            <section class="footer_con_left">
                <section class="footer_left_con">
                    <p class="footer_logo"></p>
                    <h3><span>授权</span>电话</h3>
                    <p class="phone">
                        <span><img class="lazy" src="/static/assets/img/phone.png"></span>
                        <span>400 175 9669</span>
                    </p>
{{/*                    <p class="week">周一至周五 9:00-18:00</p>*/}}
                </section>
                <section class="footer_right_con">
                    <h3 class="about"><span>关注</span>我们</h3>
                    <section class="footer_ul">
                        <dl>
                            <dt></dt>
                            <dd>魔法数学公众号</dd>
                        </dl>
                        <dl>
                            <dt></dt>
                            <dd>魔数APP下载</dd>
                        </dl>
                    </section>
                </section>
            </section>
            <section class="footer_con_right">
                <h3>填写表单</h3>
                <form method="post" action="" name="myform" id="myform">
                    <input type="hidden" name="com" class="c-com">
                    <label for="">姓名：
                        <input type="text" name="mname" class="c-area">
                    </label>
                    <label for="">电话：
                        <input type="text" name="tel" class="c-tel">
                    </label>
                    <label for="">地区：
                        <input type="text" name="area" class="c-city">
                    </label>
                    <p class="col-md-12 footer_btn"><button class="btn f_btn">提交</button></p>
                </form>
            </section>
        </section>
    </footer>
    <section class="bootom">
        <p>易学教育 © 2017 All Rights Reserved. 京ICP备20014303号</p>
    </section>
    <script type="text/javascript" src="/static/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/layer.js"></script>
    <script type="text/javascript" src="/static/index/common.js"></script>
    <script type="text/javascript" src="/static/assets/js/jquery.lazyload.js"></script>
    <script type="text/javascript">
        var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");
        document.write(unescape("%3Cspan id='cnzz_stat_icon_1278531036'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/z_stat.php%3Fid%3D1278531036%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
    </script>
{{/*    <script>*/}}
{{/*        (function() {*/}}
{{/*            var _53code = document.createElement("script");*/}}
{{/*            _53code.src = "https://tb.53kf.com/code/code/f254c44bb9e44bf955808e53f506bf9f3/1";*/}}
{{/*            var s = document.getElementsByTagName("script")[0];*/}}
{{/*            s.parentNode.insertBefore(_53code, s);})();*/}}
{{/*    </script>*/}}
{{/*    <script>*/}}
{{/*        var _hmt = _hmt || [];*/}}
{{/*        (function() {*/}}
{{/*            var hm = document.createElement("script");*/}}
{{/*            hm.src = "https://hm.baidu.com/hm.js?c9657a1adaad4dd22037d0197b4385d2";*/}}
{{/*            var s = document.getElementsByTagName("script")[0];*/}}
{{/*            s.parentNode.insertBefore(hm, s);*/}}
{{/*        })();*/}}
{{/*    </script>*/}}
{{end}}