{{define "head"}}
        <meta name="keywords" content="魔法数学加盟,激发大脑潜能,培养孩子精英素质,为未来学习奠定基础,魔法数学思维馆，魔法数学">
        <meta name="description" content="魔法数学加盟">
        <meta http-equiv="Expires" content="-1">
        <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/static/assets/css/common.css" rel="stylesheet"/>
        <link rel="shortcut icon" href="/static/assets/img/favicon.ico" />
        <script type="text/javascript" src="/static/wap/js/jquery-2.1.1.min.js"></script>
        {{template "tongji"}}
{{end}}