{{define "head"}}
        <meta name="keywords" content="北京易乐教育科技有限公司 幼儿课程，数学课程，幼儿数学课程，思维课程，思维数学加盟，数学加盟，数学课程加盟，少儿英语，英语加盟，英语课程加盟，欧美外教直播课">
        <meta name="description" content="北京易乐教育科技有限公司由引进、研发《走遍美国》、《BBC英语》、《芝麻街英语》、《波波嘟美语》的梦工厂制作团队创办，是一家集内容研发、课程推广、教育服务为一体的教育科技公司。">
        <meta http-equiv="Expires" content="-1">
        <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/static/assets/css/common.css" rel="stylesheet"/>
        <link rel="shortcut icon" href="/static/assets/img/favicon.ico" />
        <script type="text/javascript" src="/static/wap/js/jquery-2.1.1.min.js"></script>
        <script>
                (function() {
                        var _53code = document.createElement("script");
                        _53code.src = "https://tb.53kf.com/code/code/f254c44bb9e44bf955808e53f506bf9f3/1";
                        var s = document.getElementsByTagName("script")[0];
                        s.parentNode.insertBefore(_53code, s);
                })();
        </script>
{{end}}