{{define "jsFile"}}
    <script src="/static/FrontEnd/js/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script type="text/javascript" src="/static/FrontEnd/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/FrontEnd/js/layer.js"></script>
    <script type="text/javascript" src="/static/FrontEnd/js/jquery.lazyload.js"></script>
    <script src="/static/FrontEnd/js/swiper.min.js"></script>
    <script src="/static/FrontEnd/js/common.js"></script>
{{/*    {{ template "tongji"}}*/}}
{{end}}