{{define "menu"}}
    <nav>
        <section class="w12 pub navarea">
            <section class="logoarea">
                <section class="logo">
                    <img src="{{.data.headLogo.Imgurl}}" />
                </section>
                <section class="slogan">
                    <img src="{{.data.headslogan.Imgurl}}" />
                </section>
            </section>
            <section class="telArea">
                <p class="tel">咨询热线</p>
                <p class="telNum">{{.data.siteInfo.ClientTel}}</p>
            </section>
        </section>
    </nav>
{{end}}