{{define "power_con"}}
<!-- 抓住成长关键期 培养孩子每个阶段具备的核心能力 -->
    <section class="pub power">
        <section class="power_warp">
            <h3 class="w12 f36">{{.data.index_cz.Name | unescaped}}</h3>
            <section class="bline w12">
                <p>
                    <span></span>
                </p>
            </section>
            <section class="powerUl">
                {{.data.index_cz.Content | unescaped}}
            </section>
        </section>
        <section class="power_con">
            <section class="power_con_l"></section>
            <section class="power_con_m">
                <p class="xs w12"></p>
                <h4 class="w12 f36">{{.data.indexJzl.Bname | unescaped}}</h4>
                <ul>
                    {{.data.indexJzl.Info | unescaped}}
                </ul>
            </section>
            <section class="power_con_r"></section>
        </section>
    </section>
{{end}}