{{define "wap_footer"}}
    <footer>
        <section class="bottom_form">
            <h3 class="form_tit">填写表单</h3>
            <form>
                <p class="c_form">
                    <label>姓名：</label>
                    <input type="text" name="name">
                </p>
                <p class="c_form">
                    <label>电话：</label>
                    <input type="text" name="name">
                </p>
                <p class="c_form">
                    <label>地区：</label>
                    <input type="text" name="name">
                </p>
                <p class="form_btn"><button class="form_sub_btn">提交</button></p>
            </form>
        </section>
        <p class="footer_logo"><img src="/static/wap/img/footer_logo.png"></p>
        <section class="authorized_phone">授<span class="footer_line">权电</span>话</section>
        <section class="footer_bottom_tel">
            <p class="footer_tel"><img src="/static/wap/img/footer_tel.png">400 175 9669</p>
        </section>
        <section class="copyright">北京易学教育科技有限公司 © 2017 All Rights Reserved. 京ICP备20014303号</section>
    </footer>
{{end}}