{{define "wap/layout.html"}}
    <section class="pub footer">
        <section class="bottom_form">
            <h3 class="w100 bTiti">填写表单</h3>
            <section>
                <form name="myform" id="myform" class="footer_con_right" action="#">
                    <input type="hidden" name="com" class="c-com" value="">
                    <input type="hidden" name="client" value="wap">
                    <input type="hidden" name="msg_type" value="1">
                    <p class="c_form">
                        <label>姓名：</label>
                        <input type="text" name="mname" class="c-area">
                    </p>
                    <p class="c_form">
                        <label>电话：</label>
                        <input type="text" name="tel" class="c-tel">
                    </p>
                    <p class="c_form">
                        <label>地区：</label>
                        <input type="text" name="area" class="c-city">
                    </p>
                    <p class="form_btn w100">
                        <a class="f_btn">提交</a>
                    </p>
                </form>
            </section>
        </section>
        <p class="w100 chengnuo">我们承诺您的信息将严格保密请放心填写</p>
        <p class="w100 copyrightBng">
            <img src="/static/wap/img/footer_log.png">
        </p>
        <p class="w100 sqphone"><img src="/static/wap/img/sqphone.png"><span>授权电话：{{.data.siteInfo.ClientTel}}</span></p>
        <p class="w100 address">总部地址：{{.data.siteInfo.SiteAddress}}</p>
        <section class="copyright w100">网站备案/许可证号：<a href="https://beian.miit.gov.cn">{{.data.siteInfo.RecordNumber}}</a>（投资有风险，加盟需谨慎）</section>
        <section class="wechart w100">
            <section class="wechart_ul">
                <dl>
                    <dt>
                        <img src="{{.data.mfsx.Imgurl}}">
                    </dt>
                    <dd>魔法数学<br/>公众号</dd>
                </dl>
                <section class="code_mid"></section>
                <dl>
                    <dt>
                        <img src="{{.data.msxqb.Imgurl}}">
                    </dt>
                    <dd>魔数<br/>APP下载</dd>
                </dl>
            </section>
        </section>
    </section>
    <div class="foot-box"><a href="tel:4001759669">免费电话</a><a href="#myform" style="background-color: rgb(157, 200, 22)">留言咨询</a></div>
    <script src="/static/FrontEnd/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/FrontEnd/js/layer.js"></script>
    <script src="/static/wap/dist/swiper-bundle.min.js"></script>
    <script src="/static/wap/js/common.js"></script>
{{ end }}