{{define "wap_footer"}}
    <footer>
        <section class="bottom_form" id="fedbook">
            <h3 class="form_tit">填写表单</h3>
            <form  name="myform" id="myform" class="footer_con_right"  action="#">
                <input type="hidden" name="com" class="c-com">
                <p class="c_form">
                    <label>姓名：</label>
                    <input type="text" name="mname" class="c-area">
                </p>
                <p class="c_form">
                    <label>电话：</label>
                    <input type="text" name="tel" class="c-tel">
                </p>
                <p class="c_form">
                    <label>地区：</label>
                    <input type="text" name="area" class="c-city">
                </p>
                <p class="form_btn">
                    <a class="f_btn">提交</a>
                </p>
            </form>
        </section>
        <p class="footer_logo"><img data-original="/static/wap/img/footer_logo.png" class="lazy" src=""></p>
        <section class="authorized_phone">授<span class="footer_line">权电</span>话</section>
        <section class="footer_bottom_tel">
            <p class="footer_tel"><img data-original="/static/wap/img/footer_tel.png" src="" class="lazy">400 175 9669</p>
        </section>
        <section class="copyright">北京易学教育科技有限公司 © 2017 All Rights Reserved. 京ICP备20014303号</section>
    </footer>
    <div class="foot-box"><a href="tel:4001759669">免费电话</a><a href="#fedbook" style="background-color: rgb(157, 200, 22)">留言咨询</a></div>
    <script type="text/javascript" src="/static/wap/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/layer.js"></script>
    <script type="text/javascript" src="/static/assets/js/jquery.lazyload.js"></script>
    <script type="text/javascript" src="/static/wap/js/common.js"></script>
    <script type="text/javascript" src="/static/wap/js/swiper.min.js"></script>
    <script type="text/javascript" src="/static/wap/js/jquery.hiSlider.js"></script>
    <script>
        window.onload = function() {
            var swiper = new Swiper('.swiper-container',{
                autoplay:3000,
                speed:1000,
                autoplayDisableOnInteraction : false,
                loop:true,
                centeredSlides : true,
                slidesPerView:2,
                pagination : '.swiper-pagination',
                paginationClickable:true,
                prevButton:'.swiper-button-prev',
                nextButton:'.swiper-button-next',
                onInit:function(swiper){
                    swiper.slides[2].className="swiper-slide swiper-slide-active";//第一次打开不要动画
                },
                breakpoints: {
                    668: {
                        slidesPerView: 1,
                    }
                }
            });
            $('.hiSlider3').hiSlider({
                isFlexible: true,
                isSupportTouch: true,
                titleAttr: function(curIdx){
                    return $('img', this).attr('alt');
                }
            });

            $('.hiSlider4').hiSlider({
                isFlexible: true,
                isSupportTouch: true,
                titleAttr: function(curIdx){
                    return $('img', this).attr('alt');
                }
            });
        }
    </script>
    <script type="text/javascript">
        var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");
        document.write(unescape("%3Cspan id='cnzz_stat_icon_1278531036'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/z_stat.php%3Fid%3D1278531036%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script>
        (function() {
            var _53code = document.createElement("script");
            _53code.src = "https://tb.53kf.com/code/code/f254c44bb9e44bf955808e53f506bf9f3/1";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(_53code, s);})();
    </script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?c9657a1adaad4dd22037d0197b4385d2";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
{{end}}