{{define "wap/form.html" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>魔法数学</title>
        <link rel="stylesheet" href="/static/wap/css/form.css">
    </head>
    <body>
    <section class="join">
        <p class="join_tit">免费领取 加盟资料</p>
        <form method="post" action="#" name="myform" class="join_top_from" id="joinTopFrom">
            <input type="hidden" name="client" value="weChart">
            <input type="hidden" name="com" class="c-com" value="http://www.mofashuxue.com/wapForm">
            <label for="">姓名：
                <input type="text" name="mname" class="c-name">
            </label>
            <label for="">电话：
                <input type="text" name="tel" class="c-tel">
            </label>
            <label for="">地区：
                <input type="text" name="area" class="c-area">
            </label>
            <p class="col-md-12 banner_form_btn">
                <button class="btn joinBtn">立即领取</button>
            </p>
            <p class="line"></p>
            <p class="col-md-12 assured">我们承诺您的信息将严格保密请放心填写</p>
        </form>
    </section>
    </body>
    </html>
{{end}}