{{define "wap_header"}}
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="keywords" content="魔法数学加盟,激发大脑潜能,培养孩子精英素质,为未来学习奠定基础,魔法数学思维馆，魔法数学">
    <meta name="description" content="魔法数学加盟">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=750px, user-scalable=no">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=750px">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="/static/wap/css/wap_common.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="/static/assets/img/favicon.ico" />
    {{template "tongji"}}
{{end}}