{{define "wap/index.html"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>北京易学教育科技有限公司</title>
        {{template "wap_header"}}
        <link rel="stylesheet" href="/static/wap/dist/swiper-bundle.min.css">
        <link href="/static/wap/css/index.css" rel="stylesheet"/>
    </head>
    <body>
    {{template "wap_nav"}}
    <!--banner-->
    {{template "wap/banner"}}
    <!--魔法数学专注于3—12岁 少儿数理思维教育-->
    <section class="pub siwei_wap" style="background: url({{.data.zZBg.Imgurl}})  no-repeat bottom center">
        <h3 class="w100 siwei_tit">{{.data.thought.Name}}</h3>
        <section class="bline w100">
            <p>
                <span></span>
            </p>
        </section>
        <p class="siwei_con">
            {{.data.thought.Summary}}
        </p>
        <section class="zhuanzhuCon">
            {{.data.thought.Content | unescaped}}
        </section>
        <p class="getCon w100">
            <a class="" href="#myform">免费获取课程资料</a>
        </p>
    </section>
    <!--什么是数理思维？-->
    <section class="pub why w100">
        <h3 class="w100 whyTit">{{.data.why.Name}}</h3>
        <section class="bline w100">
            <p>
                <span></span>
            </p>
        </section>
        <p class="why_desc w100">{{.data.why.Content}}</p>
        <section class="siweiCon pub">
            {{ range $k,$v := .data.what}}
                {{ if lt $k 2 }}
                <dl>
                    <dt>
                        <img class="lazy" src="{{.Imgurl}}"/>
                    </dt>
                    <dd>
                        <p class="siweiCir">{{.Info}}</p>
                        <p>{{.Bname}}</p>
                    </dd>
                </dl>
                {{end}}
            {{end}}
        </section>
        <section class="siweiCon pub">
            {{ range $k,$v := .data.what }}
                {{ if eq $k 2}}
                <dl>
                    <dt>
                        <img class="lazy" src="{{.Imgurl}}"/>
                    </dt>
                    <dd>
                        <p class="siweiCir">{{.Info}}</p>
                        <p>{{.Bname}}</p>
                    </dd>
                </dl>
                {{end}}
            {{end}}
        </section>
        <section class="siweiCon pub">
            {{ range $k,$v := .data.what }}
                {{ if gt $k 2}}
                <dl>
                    <dt>
                        <img class="lazy" src="{{.Imgurl}}"/>
                    </dt>
                    <dd>
                        <p class="siweiCir">{{.Info}}</p>
                        <p>{{.Bname}}</p>
                    </dd>
                </dl>
                {{end}}
            {{end}}
        </section>
    </section>
    <!--为什么要学习数理思维？-->
    <section class="pub slsw w100" style="background:#9783C4 url('/static/wap/img/slsw.png')  no-repeat top center">
        <h3 class="slswTit w100">{{.data.siwei.Bname}}</h3>
        <section class="bline w100">
            <p>
                <span></span>
            </p>
        </section>
        <section class="why_warp">
            <dl>
                <dt class="whyPtit">
                    <p>{{.data.index_one.Bname}}</p>
                    <span></span>
                </dt>
                <dd class="whyCon">{{.data.index_one.Info | unescaped}}</dd>
            </dl>
            <section class="index_circle">
                <img src="/static/wap/img/circle.png">
            </section>
            <dl>
                <dt class="whyPtit">
                    <p>{{.data.index_two.Bname}}</p>
                    <span></span>
                </dt>
                <dd class="whyCon">{{.data.index_two.Info | unescaped}}</dd>
            </dl>
        </section>
        <section class="bwhy w100">
            <dl>
                <dt class="whyPtit">
                    <p>{{.data.index_three.Bname}}</p>
                    <span></span>
                </dt>
                <dd class="whyCon">{{.data.index_three.Info | unescaped}}</dd>
            </dl>
        </section>
    </section>
    <!--张梅玲教授倾力推荐-->
    <section class="pub tuijian">
        <dl>
            <dt>
                <p class="people">
                    <span>{{.data.index_zml.Bname}}</span>
                </p>
                <p class="lj_con">{{.data.index_zml.Info | unescaped}}</p>
            </dt>
            <dd style="background:url('/static/wap/img/index_zml.png') no-repeat top center">
                <span>{{.data.index_zml.Tag}}</span>
            </dd>
        </dl>
    </section>
    <!--魔法数学 颠覆旧数学认知-->
    <section class="pub renzhi">
        <h3 class="renzhiTit w100">{{.data.index_df.Bname}}</h3>
        <section class="bline w100">
            <p>
                <span></span>
            </p>
        </section>
        <section class="renzhiCon" style="background:#E9E3F5 url(http://img.cdn.brocaedu.com/202012141240337.png?imageslim) no-repeat center bottom;">
            <section class="renzhiM">
                <ul>
                    <li>{{.data.index_vs.Bname}}</li>
                    <li><img src="{{.data.index_vs.Imgurl}}"></li>
                    <li>{{.data.index_vs.Info}}</li>
                </ul>
            </section>
            <section class="renzhiC">
                {{.data.index_con.Content | unescaped}}
            </section>
        </section>
    </section>
    <!-- 全新OMO教育模式 形成全场景闭环教学空间-->
    <section class="pub omo">
        <h3 class="w100 omoTit">{{.data.index_omol.Bname}}</h3>
        <section class="bline w100">
            <p>
                <span></span>
            </p>
        </section>
        <section class="newOMOCon w100" style="background: url('/static/wap/img/index_omo.png') no-repeat bottom center">
            <section class="newOMOL">
                {{.data.index_omol.Info | unescaped}}
            </section>
            <section class="newOMOM">
                <section class="omoCir"></section>
                <span class="omoCon">全新OMO<br>教育模式</span>
            </section>
            <section class="newOMOR">
                <section class="newOMORCon">
                    {{.data.index_omor.Info | unescaped}}
                </section>
            </section>
        </section>
    </section>
    <!--抓住成长关键期 培养孩子每个阶段具备的核心能力-->
    <section class="pub power">
        <h3 class="powerTit w100">{{.data.index_cz.Name | unescaped}}</h3>
        <section class="bline w100">
            <p>
                <span></span>
            </p>
        </section>
        <section class="powerUl">
            {{.data.index_cz.Content | unescaped}}
        </section>
    </section>
    <!--探索精神 & 主动求知态度-->
    <section class="pub power_con">
        <section class="power_con_m">
            <p class="xs w100"></p>
            <h4 class="w100 power_con_tit">{{.data.indexJzl.Bname | unescaped}}</h4>
            <ul>
                {{.data.indexJzl.Info | unescaped}}
            </ul>
        </section>
    </section>
    <!--魔法数学课程体系 为少儿提供高品质的学习方案--->
    <section class="pub fanan">
        <h3 class="fananTit w100">魔法数学课程体系<br />为少儿提供高品质的学习方案</h3>
        <section class="bline w100">
            <p>
                <span></span>
            </p>
        </section>
        <section class="fanan_img w100">
            <img src="/static/wap/img/fanan.png">
        </section>
    </section>
    <!--趣味课堂 让孩子重拾数学乐趣-->
    <section class="pub w100 haapy">
        <h3 class="w100 happyTit">趣味课堂 让孩子重拾数学乐趣</h3>
        <section class="bline w100">
            <p>
                <span></span>
            </p>
        </section>
        <ul class="happy_ul">
            <li>
                <img src="/static/wap/img/ccc.png">
                <span class="xsjt"></span>
            </li>
            <li class="p120">
                多故事多场景增强<br/>逻辑思考能力
            </li>
            <li class="p120">
                多故事多场景增强<br/>逻辑思考能力
            </li>
            <li>
                <img src="/static/wap/img/ccc.png">
                <span class="xsjt"></span>
            </li>
            <li>
                <img src="/static/wap/img/ccc.png">
                <span class="xsjt"></span>
            </li>
            <li class="p120">
                多故事多场景增强<br/>逻辑思考能力
            </li>
            <li class="p120">
                多故事多场景增强<br/>逻辑思考能力
            </li>
            <li>
                <img src="/static/wap/img/ccc.png">
                <span class="xsjt"></span>
            </li>
            <li>
                <img src="/static/wap/img/ccc.png">
                <span class="xsjt"></span>
            </li>
            <li class="p120">
                多故事多场景增强<br/>逻辑思考能力
            </li>
            <li class="p120">
                多故事多场景增强<br/>逻辑思考能力
            </li>
            <li>
                <img src="/static/wap/img/ccc.png">
                <span class="xsjt"></span>
            </li>
        </ul>
    </section>
    <!--新闻动态-->
{{/*    <section class="pub news" style="background: url('/static/wap/img/newsBg.png') no-repeat top center">*/}}
{{/*        <h3 class="newsTit w100">新闻动态</h3>*/}}
{{/*        <section class="bline w100">*/}}
{{/*            <p>*/}}
{{/*                <span></span>*/}}
{{/*            </p>*/}}
{{/*        </section>*/}}
{{/*        <section class="news_ul">*/}}
{{/*            <div class="swiper-container new_container">*/}}
{{/*                <div class="swiper-wrapper">*/}}
{{/*                    {{range .data.index_news}}*/}}
{{/*                        <div class="swiper-slide">*/}}
{{/*                            <section class="swiper-slide_warp">*/}}
{{/*                                <a href="/de?id={{.ID}}">*/}}
{{/*                                    <img src="{{.ThumbImg}}">*/}}
{{/*                                    <h4 class="w100 newTit">{{.Title}}</h4>*/}}
{{/*                                    <p class="w100 newDesc">{{.Summary}}</p>*/}}
{{/*                                </a>*/}}
{{/*                            </section>*/}}
{{/*                        </div>*/}}
{{/*                    {{end}}*/}}
{{/*                </div>*/}}
{{/*            </div>*/}}
{{/*        </section>*/}}
{{/*        <p class="w100 moreNews"><a href="#">更多资讯</a></p>*/}}
    </section>
    {{ template "wap/layout.html" . }}
    </body>
    <script>
        var newContriner = new Swiper('.new_container', {
            slidesPerView : 3,
            centeredSlides : true,
            centeredSlidesBounds: true,
            spaceBetween : '5%',
        })
    </script>
    </html>
{{end}}