{{define "wap/join.html"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>魔法数学加盟</title>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
        <meta name="keywords" content="魔法数学加盟,激发大脑潜能,培养孩子精英素质,为未来学习奠定基础,魔法数学思维馆，魔法数学">
        <meta name="description" content="魔法数学加盟">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta name="viewport" content="target-densitydpi=device-dpi, width=750px">
        <link rel="stylesheet" href="//cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="/static/elearn/css/wap.css" rel="stylesheet"/>
        <link rel="stylesheet" href="/static/wap/css/jquery.hiSlider.min.css">
        <link rel="stylesheet" href="/static/wap/css/swiper.min.css">
        <link rel="shortcut icon" href="/static/assets/img/favicon.ico" />
        <script type="text/javascript" src="/static/wap/js/jquery-2.1.1.min.js"></script>
{{/*        {{template "tongji"}}*/}}
    </head>
    <body>

    </body>
    </html>
{{end}}