{{define "wap_nav"}}
    <nav>
        <section class="nav_head">
            <p class="head_logo">
                <img src="/static/wap/img/logo.png" />
                <span class="slogan">OMO数理思维教育开创者</span>
            </p>
            <section class="home_icon">
                <img src="/static/wap/img/home_icon_breadnav_nor@2x.png" />
                <ul class="home_nav">
                    <a href="/wap">首页</a>
                    <a href="/om">OMO模式</a>
                    <a href="/sub">课程体系</a>
                    <a href="/le">AI学练系统</a>
                </ul>
            </section>
        </section>
    </nav>
{{end}}