{{define "wap/omo.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OMO</title>
    {{template "wap_header"}}
</head>
<body>
{{template "wap_nav"}}
<section class="index_banner pub_style">
    <img src="/static/wap/img/subject.png" />
</section>
<section class="tit pub_style">
    <section class="public_tit">
        <p class="direction left">
            <span class="line magic_line"></span>
            <span class="circle magic_circle"></span>
        </p>
        <h3 class="left">全新OMO教育模式</h3>
        <p class="direction left dr">
            <span class="line magic_line"></span>
            <span class="circle magic_circle"></span>
        </p>
    </section>
</section>
</body>
</html>
{{end}}