{{define "wap/subject.html"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>课程体系</title>
        {{template "wap_header"}}
        <link rel="stylesheet" href="/static/wap/dist/swiper-bundle.min.css">
        <link href="/static/wap/css/subject.css" rel="stylesheet"/>
    </head>
    <body>
    {{ template "wap_nav" }}
    <!--banner-->
    {{template "wap/banner"}}
    <!--抓住成长关键期 培养孩子每个阶段具备的核心能力-->
    <section class="pub power">
        <h3 class="powerTit w100">抓住成长关键期<br/>培养孩子每个阶段具备的核心能力</h3>
        <section class="bline w100">
            <p>
                <span></span>
            </p>
        </section>
        <section class="powerUl">
            <li>1~3岁</li>
            <li></li>
            <li>3~8岁</li>
            <li></li>
            <li>9~12岁</li>
        </section>
    </section>
    <!--探索精神 & 主动求知态度-->
    <section class="pub power_con">
        <section class="power_con_m">
            <p class="xs w100"></p>
            <h4 class="w100 power_con_tit">强化核心竞争力</h4>
            <ul>
                <li>
                    <span>好奇心</span>
                    <span>&gt;</span>
                    凡事保持好奇心、趣味性、新鲜感
                </li>
                <li>
                    <span>探索力</span>
                    <span>&gt;</span>
                    勇于探求，实际行动
                </li>
            </ul>
        </section>
    </section>
    <!--六大教学体系 促进思维发展-->
    <section class="pub sxiBig">
        <h3 class="sxiBigTit w100">六大教学体系 促进思维发展</h3>
        <section class="bline w100">
            <p>
                <span></span>
            </p>
        </section>
        <section class="leftBrain" style="background: url(/static/wap/img/leftBrain.png) no-repeat right -167px center/600px; ">
            <section class="leftBrainCon">
                <section class="nr">
                    <h4>{{.data.subject_ys.Name}}</h4>
                    <p>
                        {{.data.subject_ys.Content | unescaped}}
                    </p>
                </section>
                <section class="nr">
                    <h4>{{.data.subject_vs.Name}}</h4>
                    <p>
                        {{.data.subject_vs.Content | unescaped}}
                    </p>
                </section>
                <section class="nr">
                    <h4>{{.data.subject_fw.Name}}</h4>
                    <p>
                        {{.data.subject_fw.Content | unescaped}}
                    </p>
                </section>
            </section>
        </section>
        <section class="rightBrain" style="background: url(/static/wap/img/rightBrain.png) no-repeat left -166px center/600px; ">
            <section class="rightBrainCon">
                <section class="nr">
                    <h4>{{.data.subject_fl.Name}}</h4>
                    <p>
                        {{.data.subject_fl.Content | unescaped}}
                    </p>
                </section>
                <section class="nr">
                    <h4>{{.data.subject_gx.Name}}</h4>
                    <p>
                        {{.data.subject_gx.Content | unescaped}}
                    </p>
                </section>
                <section class="nr">
                    <h4>{{.data.subject_fx.Name}}</h4>
                    <p>
                        {{.data.subject_fx.Content | unescaped}}
                    </p>
                </section>
            </section>
        </section>
    </section>
    <!--魔法数学课程体系 为少儿提供高品质的学习方案--->
    <section class="pub fanan">
        <h3 class="fananTit w100">魔法数学课程体系<br />为少儿提供高品质的学习方案</h3>
        <section class="bline w100">
            <p>
                <span></span>
            </p>
        </section>
        <section class="fanan_img w100">
            <img src="/static/wap/img/fanan.png">
        </section>
    </section>
    <!--趣味课堂 让孩子重拾数学乐趣-->
    <section class="pub w100 haapy">
        <h3 class="w100 happyTit">趣味课堂 让孩子重拾数学乐趣</h3>
        <section class="bline w100">
            <p>
                <span></span>
            </p>
        </section>
        <ul class="happy_ul">
            <li>
                <img src="/static/wap/img/ccc.png">
                <span class="xsjt"></span>
            </li>
            <li class="p120">
                多故事多场景增强<br/>逻辑思考能力
            </li>
            <li class="p120">
                多故事多场景增强<br/>逻辑思考能力
            </li>
            <li>
                <img src="/static/wap/img/ccc.png">
                <span class="xsjt"></span>
            </li>
            <li>
                <img src="/static/wap/img/ccc.png">
                <span class="xsjt"></span>
            </li>
            <li class="p120">
                多故事多场景增强<br/>逻辑思考能力
            </li>
            <li class="p120">
                多故事多场景增强<br/>逻辑思考能力
            </li>
            <li>
                <img src="/static/wap/img/ccc.png">
                <span class="xsjt"></span>
            </li>
            <li>
                <img src="/static/wap/img/ccc.png">
                <span class="xsjt"></span>
            </li>
            <li class="p120">
                多故事多场景增强<br/>逻辑思考能力
            </li>
            <li class="p120">
                多故事多场景增强<br/>逻辑思考能力
            </li>
            <li>
                <img src="/static/wap/img/ccc.png">
                <span class="xsjt"></span>
            </li>
        </ul>
    </section>
    {{ template "wap/layout.html"}}
    </body>
    <script src="/static/wap/dist/swiper-bundle.min.js"></script>
    <script>
        var mySwiper = new Swiper('.banner', {
            autoplay: true,//可选选项，自动滑动
        })
        //如果你初始化时没有定义Swiper实例，后面也可以通过Swiper的HTML元素来获取该实例
        new Swiper('.banner')
    </script>
    </html>
{{end}}