{{define "wap/video.html"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>{{.video.Title}}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="keywords" content="北京易学教育,魔法数学">
        <meta name="description" content="魔法数学">
        <meta name="viewport" content="target-densitydpi=device-dpi, width=750px, user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Expires" content="-1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <script src="/static/FrontEnd/js/jquery.min.js"></script>
        <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />
        <link href="/static/wap/css/wap_news.css" rel="stylesheet"/>
    </head>
    <body>
    <section class="video pub">
        <h1 class="video_tit">{{.video.Title}}</h1>
        <section class="video_con pub">
            <video
                    id="my-video"
                    class="video-js"
                    controls
                    preload="auto"
                    height="264"
                    poster="{{.video.ThumbImg}}"
                    data-setup="{}"
            >
                <source src="{{.video.VideoSrc}}" type="video/mp4" />
                <p class="vjs-no-js">
                    要看这个视频，请启用JavaScript，并考虑升级到web浏览器
                    <a href="https://videojs.com/html5-video-support/" target="_blank">支持HTML5视频</a>
                </p>
            </video>
        </section>
        <section class="video_check">
            <form class="banner_myform">
                <input type="hidden" value="{{.video.Id}}" name="id" class="id">
                <section class="form_tit">
                    <input type="text" placeholder="请输入观看码" name="video_pwd" class="video_pwd">
                </section>
                <section class="subBtn">
                    <button class="van-button--info btn">提交</button>
                </section>
            </form>
        </section>
    </section>
    <script type="text/javascript" src="/static/FrontEnd/js/layer.js"></script>
    <script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
    <script type="text/javascript">
        $('.id').val(getUrlParam("id"))
        $('.btn').on("click",function () {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/checkVideo",
                data:$('.banner_myform').serialize(),
                success: function (result) {
                    if (Number(result.code) == 200) {
                        $('.video_check').hide()
                        return
                    }
                    layer.alert("观看码不正确");
                    return false
                }
            })
            return false;
        })
        function getUrlParam(name)
        {
            var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg);  //匹配目标参数
            if (r!=null) return unescape(r[2]); return null; //返回参数值
        }
    </script>
{{end}}