{{define "wapFooter"}}
    <!-- 底部 -->
    <section class="footer" id="banner_form">
        <p class="footer_empty"></p>
        <h3 class="footer_tel">授权电话</h3>
        <p class="footer_line"></p>
        <p class="footer_phone">
            <span><img src="/static/elearn/img/dianhua-3@2x.png"></span>400 175 9669
        </p>
        <section class="join footer_con_right">
            <p class="join_tit">填写表单</p>
            <form method="post" action="#" name="myform" id="fedbookForm">
                <input type="hidden" name="client" value="wap">
                <input type="hidden" name="com" class="c-com">
                <label for="">姓名：
                    <input type="text" name="mname" class="c-name">
                </label>
                <label for="">电话：
                    <input type="text" name="tel" class="c-tel">
                </label>
                <label for="">地区：
                    <input type="text" name="area" class="c-area">
                </label>
                <p class="banner_form_btn"><button class="btn fbtn">提交</button></p>
            </form>
            <section style="font-size: 12px;transform: scale(0.6);width: 100%;display: inline-block;text-align: center;">
                网站备案/许可证号：<a href="https://beian.miit.gov.cn">京ICP备20014303号-1</a>投资有风险，加盟需谨慎
            </section>
        </section>
    </section>
    <div class="foot-box"><a href="tel:4001759669">免费电话</a><a href="#fedbook" style="background-color: rgb(157, 200, 22)">留言咨询</a></div>

    <script type="text/javascript" src="/static/FrontEnd/js/layer.js"></script>
    <script type="text/javascript" src="/static/FrontEnd/js/jquery.lazyload.js"></script>
    <script type="text/javascript" src="/static/wap/js/common.js"></script>
    <script type="text/javascript" src="/static/wap/js/swiper.min.js"></script>
    <script type="text/javascript" src="/static/wap/js/jquery.hiSlider.js"></script>
    <script src="//cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        window.onload = function() {
            var swiper = new Swiper('.swiper-container',{
                autoplay:3000,
                speed:1000,
                autoplayDisableOnInteraction : false,
                loop:true,
                centeredSlides : true,
                slidesPerView:2,
                pagination : '.swiper-pagination',
                paginationClickable:true,
                prevButton:'.swiper-button-prev',
                nextButton:'.swiper-button-next',
                onInit:function(swiper){
                    swiper.slides[2].className="swiper-slide swiper-slide-active";//第一次打开不要动画
                },
                breakpoints: {
                    668: {
                        slidesPerView: 1,
                    }
                }
            });

            isAndroid();
            // 判断安卓
            function isAndroid() {
                var u = navigator.userAgent;

                if (u.indexOf("Android") > -1 || u.indexOf("Linux") > -1) {
                    $('.swiper-slide').css({"transform":"scale(0.9)"})
                }
            }
            $('.hiSlider3').hiSlider({
                isFlexible: true,
                isSupportTouch: true,
                titleAttr: function(curIdx){
                    return $('img', this).attr('alt');
                }
            });

            $('.hiSlider4').hiSlider({
                isFlexible: true,
                isSupportTouch: true,
                titleAttr: function(curIdx){
                    return $('img', this).attr('alt');
                }
            });

            $('.joinBtn').on('click',function () {
                if ($('#joinTopFrom .c-name').val() == "") {
                    layer.msg('姓名不能为空');
                    return false;
                }
                if ($('#joinTopFrom .c-tel').val() == "") {
                    layer.msg('电话不能为空');
                    return false;
                }
                if ($('#joinTopFrom .c-area').val() == "") {
                    layer.msg('地区不能为空');
                    return false;
                }

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/AddMessage",
                    data:$('#joinTopFrom').serialize(),
                    success: function (result) {
                        layer.alert(result.msg);
                        return false
                    }
                })
                return false;
            })

            $('.fbtn').on('click',function () {
                if ($('#fedbookForm .c-name').val() == "") {
                    layer.msg('姓名不能为空');
                    return false;
                }
                if ($('#fedbookForm .c-tel').val() == "") {
                    layer.msg('电话不能为空');
                    return false;
                }
                if ($('#fedbookForm .c-area').val() == "") {
                    layer.msg('地区不能为空');
                    return false;
                }
                console.log($('#fedbookForm').serialize(),111)
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/AddMessage",
                    data:$('#fedbookForm').serialize(),
                    success: function (result) {
                        layer.alert(result.msg);
                        return false
                    }
                })
                return false;
            })
        }
    </script>
{{end}}