{{define "nav/index.html"}}
{{template "header"}}
<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">导航管理</a>
            <a>
              <cite>导航列表</cite></a>
          </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <button class="layui-btn"  id="btn" data-toggle="modal" data-target="#myModal2">
                        <i class="layui-icon"></i>添加</button>
                </div>
                <div class="layui-card-body ">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>名称</th>
                            <th>跳转地址</th>
                            <th>是否展示</th>
                            <th>操作</th>
                        </thead>
                        <tbody class="tbody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">导航管理</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal m-t" id="addform">
                    <div class="form-group">
                        <input id="id" name="id" type="hidden" value="">
                        <label class="col-sm-3 control-label">名称：</label>
                        <div class="col-sm-8">
                            <input id="name" name="name"  type="text" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">跳转地址：</label>
                        <div class="col-sm-8">
                            <input id="base_url" name="base_url" type="text" class="form-control" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">状态：</label>
                        <div class="radio i-checks">
                            <label>
                                <input type="radio" value="1" checked name="is_show" id="is_show"> <i></i> 正常</label>
                            <label>
                                <input type="radio" value="2" name="is_show" id="is_show"><i></i> 禁用</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" id="addpower" name="addpower">提交</button>
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
</body>
<script type="application/javascript">

</script>
</html>
{{end}}