{{define "admin/login.html"}}
   <!DOCTYPE html>
   <html>
   <head>
       <meta charset=utf-8>
       <meta name=viewport content="width=device-width,initial-scale=1">
       <title>魔法数学</title>
       <link rel="shortcut icon" href="/static/assets/img/favicon.ico" />
       <link href=/static/css/app.27cc841a9f9bf233da45c0e3e3a2286b.css rel=stylesheet>
   </head>
   <body>
   <div id=app></div>
   <script type=text/javascript src=/static/js/manifest.eeb2c031c0c552bd70ec.js></script>
   <script type=text/javascript src=/static/js/app.ff9866035c8ada90b855.js></script>
   </body>
   </html>
{{end}}