{{define "admin/login.html"}}
   <!DOCTYPE html>
   <html>
   <head>
       <meta charset=utf-8>
       <meta name=viewport content="width=device-width,initial-scale=1">
       <title>魔法数学</title>
       <link rel="shortcut icon" href="/static/assets/img/favicon.ico" />
       <link href=/static/css/app.17c15077cf118fff618ac00d4d264a5e.css rel=stylesheet>
   </head>
   <body>
   <div id=app></div>
   <script type=text/javascript src=/static/js/manifest.eeb2c031c0c552bd70ec.js></script>
   <script type=text/javascript src=/static/js/app.86fb40ed21854f40a791.js></script>
   </body>
   </html>
{{end}}