{{define "admin/login.html"}}
   <!DOCTYPE html>
   <html>
   <head>
       <meta charset=utf-8>
       <meta name=viewport content="width=device-width,initial-scale=1">
       <title>魔法数学</title>
       <link rel="shortcut icon" href="/static/assets/img/favicon.ico" />
       <link href=/static/css/app.b1c6458e7efbc6283e065c1c90093f2c.css rel=stylesheet>
   </head>
   <body>
   <div id=app></div>
   <script type=text/javascript src=/static/js/manifest.eeb2c031c0c552bd70ec.js></script>
   <script type=text/javascript src=/static/js/app.062ea5aee60c8881528c.js></script>
   </body>
   </html>
{{end}}