{{define "admin/user.html"}}
    {{template "header"}}
    <style>
        .page span,a.prev{
            cursor: pointer;
        }
    </style>
    <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">基础设置</a>
        <a>
          <cite>用户列表</cite></a>
      </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
    </div>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <button class="layui-btn"  id="btn" data-toggle="modal" data-target="#myModal2">
                        <i class="layui-icon"></i>添加</button>
                    </div>
                    <div class="layui-card-body ">
                        <table class="layui-table layui-form">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>用户名</th>
                                <th>昵称</th>
                                <th>手机</th>
                                <th>邮箱</th>
                                <th>状态</th>
                                <th>操作</th></tr>
                            </thead>
                            <tbody class="tbody">
                            </tbody>
                        </table>
                    </div>
                    <!--分页-->
                    <input type="hidden" id="PageCount" value="0">
                    <div id="example" style="text-align: center"> <ul id="pageLimit"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">用户管理</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal m-t" id="addform">
                        <div class="form-group">
                            <input id="id" name="id" type="hidden" value="">
                            <label class="col-sm-3 control-label">用户名称：</label>
                            <div class="col-sm-8">
                                <input id="nick_name" name="nick_name"  type="text" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">登陆账号：</label>
                            <div class="col-sm-8">
                                <input id="login_name" name="login_name" type="text" class="form-control" value="">
                            </div>
                        </div>
{{/*                        <div class="form-group">*/}}
{{/*                            <label class="col-sm-3 control-label">部门：</label>*/}}
{{/*                            <div class="col-sm-8">*/}}
{{/*                                <select class="form-control" name="department_id" id="department_id">*/}}
{{/*                                    */}}
{{/*                                </select>*/}}
{{/*                            </div>*/}}
{{/*                        </div>*/}}
                        <input type="hidden" value="1" name="department_id" id="department_id">
{{/*                        <div class="form-group">*/}}
{{/*                            <label class="col-sm-3 control-label">职位：</label>*/}}
{{/*                            <div class="col-sm-8">*/}}
{{/*                                <select class="form-control" name="position_id" id="position_id">*/}}
{{/*                                   */}}
{{/*                                </select>*/}}
{{/*                            </div>*/}}
{{/*                        </div>*/}}
                        <input type="hidden" value="1" name="position_id" id="position_id">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">邮箱：</label>
                            <div class="col-sm-8">
                                <input id="email" name="email" type="text" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">密码：</label>
                            <div class="col-sm-8">
                                <input id="pwd" name="pwd" type="text" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">电话：</label>
                            <div class="col-sm-8">
                                <input id="tel" name="tel" type="text" class="form-control" value="">
                            </div>
                        </div>

                        <input type="hidden" id="city_id" name="city_id" value="10000">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">状态：</label>
                            <div class="radio i-checks">
                                <label>
                                    <input type="radio" value="1" checked name="status" id="status"> <i></i> 正常</label>
                                <label>
                                    <input type="radio" value="2" name="status" id="status"><i></i> 禁用</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" id="addpower" name="addpower">提交</button>
                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/user.js"></script>
    </body>
    </html>
{{end}}