{{define "index/about.html"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>关于魔数</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-touch-fullscreen" content="yes">
        {{template "head"}}
        <link href="/static/assets/css/about.css" rel="stylesheet"/>

    </head>
    <body>
    {{template "nav"}}
    <section class="about_banner">
        <img src="/static/assets/img/about.jpg">
    </section>
    <section class="container">
        <section class="row">
            <!-- 魔数简介 -->
            <section class="about_magic">
                <section class="tit">
                    <p class="direction left">
                        <span class="line magic_line"></span>
                        <span class="circle magic_circle"></span>
                    </p>
                    <h3 class="left">魔数简介</h3>
                    <p class="direction left dr">
                        <span class="line magic_line"></span>
                        <span class="circle magic_circle"></span>
                    </p>
                </section>
                <section class="about_con">
                </section>
            </section>
            <!-- 教学理念 -->
            <section class="idea">
                <section class="tit">
                    <p class="direction left">
                        <span class="line magic_line"></span>
                        <span class="circle magic_circle"></span>
                    </p>
                    <h3 class="left">教学理念</h3>
                    <p class="direction left dr">
                        <span class="line magic_line"></span>
                        <span class="circle magic_circle"></span>
                    </p>
                </section>
                <h3 class="idea_tit">
                    运用多媒体交互课件结合多维情境式教具，培养孩子的专注力、观察力、逻辑力、转化力、表达力、运算力、提升独立思考及创造性思维能力。
                </h3>
                <section class="idea_ul">
                    <dl>
                        <dt></dt>
                        <dd><p class="idea_ul_bg"></p></dd>
                    </dl>
                    <dl class="idea_ul_one">
                        <dt></dt>
                        <dd><p class="idea_ul_bg"></p></dd>
                    </dl>
                    <dl class="idea_ul_two">
                        <dt></dt>
                        <dd class="idea_ul_two"><p class="idea_ul_bg"></p></dd>
                    </dl>
                    <dl class="idea_ul_three">
                        <dt></dt>
                        <dd><p class="idea_ul_bg"></p></dd>
                    </dl>
                </section>
            </section>
            <!-- 教育愿景 -->
            <section class="vision">
                <section class="tit">
                    <p class="direction left">
                        <span class="line magic_line"></span>
                        <span class="circle magic_circle"></span>
                    </p>
                    <h3 class="left">教育愿景</h3>
                    <p class="direction left dr">
                        <span class="line magic_line"></span>
                        <span class="circle magic_circle"></span>
                    </p>
                </section>
            </section>
        </section>
    </section>
    <!-- 魔数起源 -->
    <section class="com">
        <section class="com_con">
            <section class="tit">
                <p class="direction left">
                    <span class="line magic_line"></span>
                    <span class="circle magic_circle"></span>
                </p>
                <h3 class="left">魔数起源</h3>
                <p class="direction left dr">
                    <span class="line magic_line"></span>
                    <span class="circle magic_circle"></span>
                </p>
            </section>
            <section class="com_desc">
                <dl class="active Jean">
                    <dt>
                        <h3 class="humanity"></h3>
                        <span class="com_line"></span>
                        <p class="all">
                        </p>
                    </dt>
                    <dd>
                        <img src="/static/assets/img/pic_jean.png" data-original="/static/assets/img/pic_jean.png" class="lazy"/>
                    </dd>
                </dl>
                <dl class="Harvard">
                    <dt>
                        <h3 class="Harvard_tit">
                        </h3>
                    </dt>
                    <dd>
                        <img src="/static/assets/img/pic_harvard.png" data-original="/static/assets/img/pic_harvard.png" class="lazy"/>
                    </dd>
                </dl>
            </section>
        </section>
    </section>
    <!-- 发展历程 -->
    <section class="developing">
        <section class="tit">
            <p class="direction left">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
            <h3 class="left">发展历程</h3>
            <p class="direction left dr">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
        </section>
        <section class="developing_con">
            <section class="developing_ul_left">
                <li></li>
                <li></li>
            </section>
            <section class="developing_ul_right">
            </section>
        </section>
    </section>
    <!-- 品牌荣誉 -->
    <section class="brand">
        <section class="brand_con">
            <section class="tit">
                <p class="direction left">
                    <span class="line magic_line"></span>
                    <span class="circle magic_circle"></span>
                </p>
                <h3 class="left">品牌荣誉</h3>
                <p class="direction left dr">
                    <span class="line magic_line"></span>
                    <span class="circle magic_circle"></span>
                </p>
            </section>
            <section class="brand_ul">
                <div id="btn-left" class="arrow-btn dasabled"></div>
                <div class="slider">
                    <ul>
                        <li><img src="/static/assets/img/zs1.jpg"></li>
                        <li><img src="/static/assets/img/zs1.png"></li>
                        <li><img src="/static/assets/img/zs10.jpg"></li>
                        <li><img src="/static/assets/img/zs2.png"></li>
                        <li><img src="/static/assets/img/zs3.jpg"></li>
                        <li><img src="/static/assets/img/zs4.jpg"></li>
                        <li><img src="/static/assets/img/zs5.png"></li>
                        <li><img src="/static/assets/img/zs6.png"></li>
                    </ul>
                </div>
                <div id="btn-right" class="arrow-btn"></div>
            </section>
        </section>
    </section>
    <!-- 版权 -->
    {{template "index_footer"}}
    <script type="text/javascript" src="/static/index/about.js"></script>
    </body>
    </html>
{{end}}