{{define "index/about.html"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{.data.siteInfo.SiteDesc}}" />
        <meta name="Keywords" content="{{.data.siteInfo.SiteKeyboard}}" />
        <title>北京易学教育科技有限公司-{{.title}}</title>
        <link rel="shortcut icon" href="/static/assets/img/favicon.ico" />
        {{template "css"}}
        <link href="/static/FrontEnd/css/about.css" rel="stylesheet">
    </head>
    <body>
    {{ template "menu" .}}
    <section class="menu">
        <ul>
            {{ range  .data.menu }}
                {{ $act := "/about" }}
                <a href="{{.BaseUrl}}" {{ if eq .BaseUrl $act }} class="menu_index" {{end}}>{{.Name}}</a>
            {{end}}
        </ul>
    </section>
    <!-- 轮播 -->
    {{ template "banner" .}}
    <!-- 魔法数学专注于3—12岁少儿数理思维教育 -->
    <section class="pub about">
        <h3 class="w12 f36">{{.data.aboutBk.Bname}}</h3>
        <section class="about_con" style="background:url({{.data.aboutBk.Imgurl}}) no-repeat center bottom">
            <section class="bline w12">
                <p>
                    <span></span>
                </p>
            </section>
            <section class="a_c">
                <section class="a_c_l">
                    {{.data.swg.Content | unescaped}}
                </section>
                <section class="a_c_r">
                    <img src="{{.data.swg.ThumbImg}}" />
                </section>
            </section>
        </section>
    </section>
    <!-- 源于全球儿童心理学家让 皮亚杰与 哈佛大学儿童发展中心的共同杰作 -->
    <section class="pub zuopin">
        <h3 class="w12 f36">源于全球儿童心理学家让 皮亚杰与<br />哈佛大学儿童发展中心的共同杰作</h3>
        <section class="bline w12">
            <p>
                <span></span>
            </p>
        </section>
        <section class="human">
            {{ range .data.human}}
            <dl>
                <dt>
                    <img src="{{.Imgurl}}" />
                </dt>
                <dd>
                    {{ .Info | unescaped}}
                </dd>
            </dl>
            {{end}}
        </section>
    </section>
    <!-- 独特的教学方式 培养出能力卓越的孩子 -->
    <section class="pub child w12">
        <h3 class="w12 f36">{{.data.child.Bname}}</h3>
        <section class="bline w12">
            <p>
                <span></span>
            </p>
        </section>
        <section class="zyCon">
            {{ .data.child.Info | unescaped}}
        </section>
        <section class="zy w12">
            <img src="{{.data.child.Imgurl}}" />
        </section>
    </section>
    <!-- 数学探索世界,思维改变未来 -->
    <section class="mid" style="background: url({{.data.midBk.Imgurl}}) no-repeat center center;">
        <h3 class="w12 f36">{{.data.midSlogan.Bname}}</h3>
        <section class="bline w12">
            <p>
                <span></span>
            </p>
        </section>
        <section class="mid_slogan">
            <img src="{{.data.midSlogan.Imgurl}}" alt=" {{ .data.child.Bname}}" />
        </section>
    </section>
    <!-- 历经磨砺 多项殊荣加持深厚的品牌积淀 -->
    <section class="brand">
        <h3 class="w12 f36">{{.data.brandBg.Bname}}</h3>
        <section class="bline w12">
            <p>
                <span></span>
            </p>
        </section>
        <section class="brandBg" style="background: url({{.data.brandBg.Imgurl}}) no-repeat center center;">
            <section class="year">
                {{ range .data.year}}
                <dl class="{{.Bname}}">
                    <dt><img src="{{.Imgurl}}"></dt>
                    <dd>{{.Info}}</dd>
                </dl>
                {{end}}
            </section>
        </section>
    </section>
    <!-- 品牌荣誉 奋进之路的里程碑 -->
    <section class="pub rongyu" style="background: url({{.data.brandBk.Imgurl}}) no-repeat center center;">
        <h3 class="w12 f36">{{.data.brandBk.Bname}}</h3>
        <section class="bline w12">
            <p>
                <span></span>
            </p>
        </section>
        <section class="brand_ul">
            <div id="btn-left" class="arrow-btn dasabled"></div>
            <div class="slider">
                <ul>
                    {{ range .data.brand}}
                    <li><img src="{{.Imgurl}}"></li>
                    {{end}}
                </ul>
            </div>
            <div id="btn-right" class="arrow-btn"></div>
        </section>
    </section>
    {{template "footer" .}}
    <script src="/static/FrontEnd/js/about.js"></script>
    </body>
    </html>
{{end}}