{{define "index/campus.html"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>北京易学教育科技有限公司-{{.title}}</title>
        <meta name="description" content="{{.data.siteInfo.SiteDesc}}" />
        <meta name="Keywords" content="{{.data.siteInfo.SiteKeyboard}}" />
        <link rel="shortcut icon" href="/static/assets/img/favicon.ico" />
        {{template "css"}}
        <link href="/static/FrontEnd/css/campus.css" rel="stylesheet">
    </head>
    <body>
    {{ template "menu" .}}
    <section class="menu">
        <ul>
            {{ range  .data.menu }}
                {{ $act := "/campus" }}
                <a href="{{.BaseUrl}}" {{ if eq .BaseUrl $act }} class="menu_index" {{end}}>{{.Name}}</a>
            {{end}}
        </ul>
    </section>
    <!-- 地图 -->
    <section class="school_map_bg">
        <img src="{{ .data.school_bg.Imgurl}}" />
    </section>
    <div id="chart-panel" class="pub"></div>
    <section class="school_ul pub">
    </section>
    {{template "footer" .}}
    <script type="text/javascript" src="/static/FrontEnd/js/echarts.min.js"></script>
    <script type="text/javascript" src="/static/FrontEnd/js/campus.js"></script>
    </body>
    </html>
{{end}}