{{define "index/detail.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>北京易学教育科技有限公司</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-touch-fullscreen" content="yes">
    {{template "head"}}
    <link href="/static/assets/css/detail.css" rel="stylesheet"/>
</head>
<body>
<section class="detail_head">
    {{template "nav"}}
</section>
    <section class="detail">
        <h1 class="detail_tit">{{.detail.Title}}</h1>
        <p class="detail_date">{{.time}}</p>
        <p class="detail_line"></p>
        <section class="detail_con">
            {{.detail.Content | unescaped}}
        </section>
    </section>
{{template "index_footer"}}
</body>
</html>
{{end}}