{{define "index/down.html"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>北京易学教育科技有限公司-{{.title}}</title>
        <meta name="description" content="{{.data.siteInfo.SiteDesc}}" />
        <meta name="Keywords" content="{{.data.siteInfo.SiteKeyboard}}" />
        <link rel="shortcut icon" href="/static/assets/img/favicon.ico" />
        {{template "css"}}
        <link href="/static/FrontEnd/css/down.css" rel="stylesheet">
    </head>
    <body>
    {{ template "menu" .}}
    <section class="menu">
        <ul>
            {{ range  .data.menu }}
                {{ $act := "/down" }}
                <a href="{{.BaseUrl}}" {{ if eq .BaseUrl $act }} class="menu_index" {{end}}>{{.Name}}</a>
            {{end}}
        </ul>
    </section>
    <!-- 轮播 -->
    {{ template "banner" .}}
    <!-- 魔数小奇兵APP -->
    <section class="pub down">
        <h3 class="w12">{{ .data.energize.Name}}</h3>
        <section class="bline w12">
            <p>
                <span></span>
            </p>
        </section>
        <section class="down_con">
            <section class="down_con_l">
                <section class="down_con_i">
                    <dl>
                        <dt>
                            <img src="{{.data.energize.ThumbImg }}"/>
                        </dt>
                        <dd>
                            {{ .data.energize.Summary}}<br />
                            {{ .data.energize.Content}}
                        </dd>
                    </dl>
                </section>
            </section>
            <section class="down_con_r">
                {{ range .data.flower }}
                <li>
                    <img src="{{.Imgurl}}"/>
                   {{.Bname}}
                </li>
                {{end}}
            </section>
        </section>
    </section>
    <!-- 魔数小奇兵 -->
    <section class="moshu_video pub w12">
        <section class="pauseV">
            <span class="pauseVBtn"></span>
            <video width="100%" height="100%"  class="pause" src="http://img.cdn.brocaedu.com/moshu.mp4">
                <source src="http://img.cdn.brocaedu.com/moshu.mp4" type="video/mp4">
                您的浏览器不支持 video 属性。
            </video>
        </section>
    </section>
    <!-- 智慧挑战 -->
    <section class="tiaozhan pub">
        {{ range .data.wisdom }}
        <dl>
            <dt>
                <img src="{{.Imgurl}}"/>
            </dt>
            <dd> {{.Bname}}</dd>
        </dl>
        {{end}}
    </section>
    {{template "footer" .}}
    <script type="application/javascript">
        $(function(){
            $('video').controls=false;
            $('video').click(function() {
                if ($(this).hasClass('pause') ) {
                    $("video").trigger("play");
                    $(this).removeClass('pause');
                    $(this).addClass('play');
                    $('.pauseVBtn').hide()
                } else {
                    $("video").trigger("pause");
                    $(this).removeClass('play');
                    $(this).addClass('pause');
                    $('.pauseVBtn').show()
                }
            });
        })
    </script>
    </body>
    </html>
{{end}}