{{define "index/down.html"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>APP下载</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-touch-fullscreen" content="yes">
        {{template "head"}}
        <link href="/static/assets/css/down.css" rel="stylesheet"/>
    </head>
    <body>
    <section class="nav_menu pub_style">
        {{template "nav"}}
    </section>
    <section class="down_banner">
        <img src="/static/assets/img/down.jpg" />
    </section>
    <!-- 魔数小奇兵APP -->
    <section class="app pub_style" id="down">
        <section class="tit">
            <p class="direction left">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
            <h3 class="left">魔数小奇兵APP</h3>
            <p class="direction left dr">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
        </section>
        <section class="app_con">
            <section class="app_con_left">
                <img data-original="/static/assets/img/pic_app_l.png" src="/static/assets/img/pic_app_l.png" class="lazy"/>
            </section>
            <section class="app_con_right">
                <h3><img data-original="/static/assets/img/pic_wenzi.png" src="/static/assets/img/pic_wenzi.png" class="lazy"></h3>
                <section class="app_con_ercode">
                    <dl>
                        <dt><img data-original="/static/assets/img/pic_ewm.png" src="/static/assets/img/pic_ewm.png" class="lazy"/></dt>
                        <dd>扫码下载APP</dd>
                    </dl>
                    <p><img data-original="/static/assets/img/pic_phone.png" src="/static/assets/img/pic_phone.png" class="lazy"/></p>
                </section>
                <section class="app_b">
                    <img  data-original="/static//assets/img/pic_app_u.png" src="/static//assets/img/pic_app_u.png" class="lazy"/>
                </section>
            </section>
        </section>
    </section>
    <!-- 学玩同步 效果看得见 -->
    <section class="watch pub_style">
       <section class="subject">
           <section class="tit">
               <p class="direction left">
                   <span class="line magic_line"></span>
                   <span class="circle magic_circle"></span>
               </p>
               <h3 class="left">学玩同步 效果看得见</h3>
               <p class="direction left dr">
                   <span class="line magic_line"></span>
                   <span class="circle magic_circle"></span>
               </p>
           </section>
       </section>

        <section class="watch_con_subject">
            <dl class="watch_con">
            <dt class="donw_img">
                <img data-original="/static/assets/img/pic_app1.png" src="/static/assets/img/pic_app1.png" class="lazy" />
            </dt>
            <h3>智慧挑战系统</h3>
            <p>玩法丰富，创意无限，将学科数学知识点领域重叠螺旋、循序渐进安排，精心设置160道魔法关卡，鼓励孩子通过闯关夺宝形式潜移默化习得数理知识。</p>
            </dd>
        </dl>
        </section>
        </section>
    <!-- 荣誉激励系统 -->
    <section class="jl_style pub_style">
        <dl class="watch_con">
            <dt>
                <h3>荣誉激励系统</h3>
                <p>通过闯关积累可获得不同的荣誉勋章，记录孩子成长点滴，让孩子建立自信、激发学习兴趣。</p>
            </dt>
            <dd class="donw_img">
                <img data-original="/static/assets/img/pic_app2.png" src="/static/assets/img/pic_app2.png" class="lazy"/>
            </dd>
        </dl>
    </section>
    <!-- 财商管理系统 -->
    <section class="watch pub_style hd">
        <dl class="watch_con">
            <dt class="donw_img">
                <img data-original="/static/assets/img/pic_app3.png" src="/static/assets/img/pic_app3.png" class="lazy"/>
            </dt>
            <h3>财商管理系统</h3>
            <p>通过在魔法星球上的不断探险，赢得越来越多的魔法币，并换取丰富的道具，有效锻炼孩子的财商和情商。</p>
            </dd>
        </dl>
    </section>
    <!-- 测评报告系统 -->
    <section class="jl_style pub_style">
        <dl class="watch_con">
            <dt>
                <h3>测评报告系统</h3>
                <p>学员家长每月可以收到一份来自魔法世界的报告单，记录孩子在魔法世界的学习过程，孩子的学习效果一目了然。</p>
            </dt>
            <dd class="donw_img">
                <img data-original="/static/assets/img/pic_app4.png" src="/static/assets/img/pic_app4.png" class="lazy" />
            </dd>
        </dl>
    </section>
    <!-- 好友互动系统 -->
    <section class="hd pub_style">
        <dl class="watch_con">
            <dt class="donw_img">
                <img data-original="/static/assets/img/pic_app5.png" src="/static/assets/img/pic_app5.png" class="lazy"/>
            </dt>
            <dd>
                <h3>好友互动系统</h3>
                <p>组队、PK、竞争、互助，在数学的魔法世界里，孩子们可以组成团队协同作战，并换取丰厚的奖品。</p>
            </dd>
        </dl>
    </section>
    <!-- 下载魔数小奇兵APP，进入魔法世界 -->
    <section class="down_app pub_style">
        <section class="tit">
            <p class="direction left">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
            <h3 class="left">下载魔数小奇兵APP，进入魔法世界</h3>
            <p class="direction left dr">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
        </section>
        <section class="down_app_con">
            <p class="app_img">
                <img data-original="/static/assets/img/icon_app.png" src="/static/assets/img/icon_app.png" class="lazy" />
                <a href="#down">立即下载</a>
            </p>
        </section>
    </section>
        <!-- 版权 -->
    {{template "index_footer"}}
    </body>
    </html>
{{end}}