{{define "index/index.html"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>魔法数学</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-touch-fullscreen" content="yes">
        {{template "head"}}
        <link href="/static/assets/css/main.css" rel="stylesheet"/>
    </head>
    <body>
    {{template "nav"}}
    <!-- banner -->
    <div id="myCarousel" class="carousel slide banner" data-ride="carousel" data-interval="2000">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="carousel-item active" ><img src="/static/upload/{{.banner}}"></div>
        </div>
    </div>
    <!-- banner结束 -->
    <section class="container">
        <section class="magic row">
            <section class="tit">
                <p class="direction left">
                    <span class="line magic_line"></span>
                    <span class="circle magic_circle"></span>
                </p>
                <h3 class="left">数学思维有什么魔力?</h3>
                <p class="direction left dr">
                    <span class="line magic_line"></span>
                    <span class="circle magic_circle"></span>
                </p>
            </section>
            <section class="magic_list col-md-12 col-lg-12">
                <dl class="col-md-4 col-lg-4 brain">
                    <dt></dt>
                    <dd>
                    </dd>
                </dl>
                <dl class="col-md-4 col-lg-4 turn">
                    <dt></dt>
                    <dd>
                    </dd>
                </dl>
                <dl class="col-md-4 broca col-lg-4">
                    <dt></dt>
                    <dd>
                    </dd>
                </dl>
            </section>
        </section>
    </section>
    <!-- 张梅玲教授倾力推荐 -->
    <section class="recommend">
        <section class="tit">
            <p class="direction left">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
            <h3 class="left">张梅玲教授倾力推荐</h3>
            <p class="direction left dr">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
        </section>
        <section class="slogan">
            <section class="outborder">
                <dl>
                    <dt>
                    </dt>
                    <dd>
                    </dd>
                </dl>
            </section>
            <section class="celebrity">
                <img src="/static/assets/img/pic_zml_2x.png" />
            </section>
        </section>
    </section>
    <section class="container w1200">
        <!-- 选择魔法数学的六个理由 -->
        <section class="reason row">
            <section class="tit">
                <p class="direction left">
                    <span class="line magic_line"></span>
                    <span class="circle magic_circle"></span>
                </p>
                <h3 class="left">选择魔法数学的六个理由</h3>
                <p class="direction left dr">
                    <span class="line magic_line"></span>
                    <span class="circle magic_circle"></span>
                </p>
            </section>
            <section class="six_reason">
                <dl>
                    <dt>
                        <p class="celebrity_desc">

                        </p>
                    </dt>
                    <dd>

                    </dd>
                </dl>
                <dl class="teaching">
                    <dt>
                        <p class="celebrity_desc"></p>
                    </dt>
                    <dd>

                    </dd>
                </dl>
                <dl class="mr0 experience">
                    <dt>
                        <p class="celebrity_desc"></p>
                    </dt>
                    <dd>

                    </dd>
                </dl>
                <dl class="mb0 think">
                    <dt>
                        <p class="celebrity_desc"></p>
                    </dt>
                    <dd>

                    </dd>
                </dl>
                <dl class="mb0 online_elearn">
                    <dt>
                        <p class="celebrity_desc"></p>
                    </dt>
                    <dd>
                    </dd>
                </dl>
                <dl class="mr0 mb0 learn">
                    <dt>
                        <p class="celebrity_desc"></p>
                    </dt>
                    <dd>
                    </dd>
                </dl>
            </section>
        </section>
        <!-- 魔法数学与传统数学的区别 -->
        <section class="difference row">
            <section class="tit">
                <p class="direction left">
                    <span class="line magic_line"></span>
                    <span class="circle magic_circle"></span>
                </p>
                <h3 class="left">魔法数学与传统数学的区别</h3>
                <p class="direction left dr">
                    <span class="line magic_line"></span>
                    <span class="circle magic_circle"></span>
                </p>
            </section>
            <section class="difference_con">
                <ul class="left tradition_ul">
                </ul>
                <ul class="right magic_ul">

                </ul>
            </section>
            <section class="difference_midd">
                <li class="difference_con_tit mb0">
                    <img src="/static/assets/img/home_icon_vs_nor@2x.png" />
                </li>
                <li>
                    理念
                </li>
                <li>
                    课程
                </li>
                <li>
                    教法
                </li>
                <li>
                    科技
                </li>
                <li class="mb0">
                    效果
                </li>
            </section>
        </section>
        <!-- 特色课堂，让孩子流连忘返 -->
        <section class="different row">
            <section class="tit">
                <p class="direction left">
                    <span class="line magic_line"></span>
                    <span class="circle magic_circle"></span>
                </p>
                <h3 class="left">特色课堂，让孩子流连忘返</h3>
                <p class="direction left dr">
                    <span class="line magic_line"></span>
                    <span class="circle magic_circle"></span>
                </p>
            </section>
            <section class="different_ul col-sm-12 col-md-12">
                <section class="different_ul_top">
                    <dl>
                        <dt class="different_con"></dt>
                        <dd class="different_img realy"></dd>
                    </dl>
                    <dl>
                        <dt class="different_con"></dt>
                        <dd class="different_img drive"></dd>
                    </dl>
                    <dl class="mr0">
                        <dt class="different_con"></dt>
                        <dd class="different_img happy"></dd>
                    </dl>
                </section>
                <section class="different_ul_bottom">
                    <dl>
                        <dd class="different_img"></dd>
                        <dt class="different_con"></dt>
                    </dl>
                    <dl>
                        <dd class="different_img ques"></dd>
                        <dt class="different_con"></dt>
                    </dl>
                    <dl class="mr0">
                        <dd class="different_img creativity"></dd>
                        <dt class="different_con"></dt>
                    </dl>
                </section>
            </section>
        </section>
    </section>
    <!-- Hi-Thinking教学法 -->
    <section class="education">
        <section class="tit">
            <p class="direction left">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
            <h3 class="left">Hi-Thinking教学法</h3>
            <p class="direction left dr">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
        </section>
        <h4>培养孩子“从多个角度看问题”的能力，建立强大的“逻辑思维能力”</h4>
        <section class="thinking_ul">
            <dl>
                <dt></dt>
                <dd>

                </dd>
            </dl>
            <dl class="keyworld">
                <dt></dt>
                <dd>

                </dd>
            </dl>
            <dl class="surmise mr0">
                <dt></dt>
                <dd>
                </dd>
            </dl>
            <dl class="verification">
                <dt></dt>
                <dd>
                </dd>
            </dl>
            <dl class="Exercise">
                <dt></dt>
                <dd>
                </dd>
            </dl>
            <dl class="expand mr0">
                <dt></dt>
                <dd>
                </dd>
            </dl>
        </section>
    </section>
    <!-- 最新动态 -->
    <section class="dynamic">
        <section class="tit">
            <p class="direction left">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
            <h3 class="left">最新动态</h3>
            <p class="direction left dr">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
        </section>
        <section class="six_reason">
        </section>
        <p class="more_btn">
            <a href="javascript:;" class="more">更多内容</a>
        </p>
    </section>
    <!-- 版权 -->
    {{template "index_footer"}}
    <script type="text/javascript" src="/static/index/index.js"></script>
    </body>
    </html>
{{end}}