{{define "index/learn.html"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>北京易学教育科技有限公司-{{.title}}</title>
        <meta name="description" content="{{.data.siteInfo.SiteDesc}}" />
        <meta name="Keywords" content="{{.data.siteInfo.SiteKeyboard}}" />
        <link rel="shortcut icon" href="/static/assets/img/favicon.ico" />
        {{template "css"}}
        <link href="/static/FrontEnd/css/sys.css" rel="stylesheet">
    </head>
    <body>
    {{ template "menu" .}}
    <section class="menu">
        <ul>
            {{ range  .data.menu }}
                {{ $act := "/learn" }}
                <a href="{{.BaseUrl}}" {{ if eq .BaseUrl $act }} class="menu_index" {{end}}>{{.Name}}</a>
            {{end}}
        </ul>
    </section>
    <!-- 轮播 -->
    {{ template "banner" .}}
    <!-- 全域成长 智慧学习 -->
    <section class="pub learn w12">
        <h3 class="w12 f36">{{ .data.learn.Name}}</h3>
        <section class="bline w12">
            <p>
                <span></span>
            </p>
        </section>
        <section class="learn_desc">
            {{ .data.learn.Content }}
        </section>
        <section class="learn_img">
            <img src="{{ .data.learn.ThumbImg }}" />
        </section>
    </section>
    <section class="sys_ul">
        {{ range .data.online }}
        <dl>
            <dt>
                <img class="lazy" src="{{.ThumbImg}}"/>
            </dt>
            <dd>
                <h3>{{.Name}}</h3>
                {{.Content | unescaped}}
            </dd>
        </dl>
        {{end}}
    </section>
    {{template "footer" .}}
    </body>
    </html>
{{end}}