{{define "index/learn.html"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>AI学习平台</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-touch-fullscreen" content="yes">
        {{template "head"}}
    </head>
    <body>
    {{template "nav"}}
    <!-- 版权 -->
    {{template "index_footer"}}
    </body>
    </html>
{{end}}