{{define "index/new.html"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>最近动态</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-touch-fullscreen" content="yes">
        <script src="https://cdn.bootcss.com/jquery/3.5.0/jquery.js"></script>
        <!--bootstrap start--->
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {{template "head"}}
        <link href="/static/assets/css/new.css" rel="stylesheet"/>
    </head>
    <body>
    <section class="detail_head">
        {{template "nav"}}
    </section>
    <section class="new_banner">
        <img src="/static/assets/img/zxdt_banner.jpg" />
    </section>
    <section class="new_ul">
    </section>
    <!--分页-->
    <section style="width: 1200px;margin: 0 auto">
        <input type="hidden" id="PageCount" value="0">
        <div id="example" style="text-align: center"> <ul id="pageLimit"></ul>
        </div>
    </section>
    <!-- 版权 -->
    {{template "index_footer"}}
    <script src="/static/js/bootstrap-paginator.js"></script>
    <script type="text/javascript" src="/static/index/new.js"></script>
    </body>
    </html>
{{end}}