{{define "index/omo.html"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>OMO模式</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-touch-fullscreen" content="yes">
        {{template "head"}}
        <link href="/static//assets/css/omo.css" rel="stylesheet"/>
    </head>
    <body>
    <section class="nav_menu pub_style">
        {{template "nav"}}
    </section>
    <section class="omo_banner">
        <img src="/static/assets/img/omo.jpg" />
    </section>
    <!-- 全新OMO教育模式 -->
    <section class="new_omo pub_style">
        <section class="tit">
            <p class="direction left">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
            <h3 class="left">全新OMO教育模式</h3>
            <p class="direction left dr">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
        </section>
        <section class="pic_omo">
            <img data-original="/static/assets/img/pic_omo.png" src="" class="lazy"/>
        </section>
        <section class="six_reason">
            <dl>
                <dt>
                    <p class="celebrity_desc">
                        运用多媒体交互课件，结合多元情景式教学及配套教具，让孩子沉浸式体验学习。
                    </p>
                </dt>
                <dd>
                    线下——未来教室
                </dd>
            </dl>
            <dl class="teaching">
                <dt>
                    <p class="celebrity_desc">AI智能学练与测评系统，直播课软硬件系统、魔数小奇兵APP，多维护航，让孩子随时随地高效学习。</p>
                </dt>
                <dd>
                    线上——智能学练
                </dd>
            </dl>
            <dl class="mr0 experience">
                <dt>
                    <p class="celebrity_desc">在线优质教学<br/>
                        学习习惯跟进<br/>
                        本地化教研<br/>
                        增强用户粘性<br/>
                        低成本获客
                    </p>
                </dt>
                <dd>
                    线上线下同步招生教学+分享营销数据引流
                </dd>
            </dl>
        </section>
    </section>
    <!-- OMO教育模式的优势 -->
    <section class="omo_warp pub_style">
        <section class="omo_style">
            <section class="tit">
                <p class="direction left">
                    <span class="line magic_line"></span>
                    <span class="circle magic_circle"></span>
                </p>
                <h3 class="left">OMO教育模式的优势</h3>
                <p class="direction left dr">
                    <span class="line magic_line"></span>
                    <span class="circle magic_circle"></span>
                </p>
            </section>
            <h3 class="xuanyan">对学员而言</h3>
            <section class="omo_style_ul">
                <li>
                    <h3>课堂多样化</h3>
                    <p>通过互联网技术为纯线下模式赋能，同时通过线上课程满足孩子的多样化、个性化学习需求，加深学习效果。</p>
                </li>
                <li>
                    <img data-original="/static/assets/img/pic_dxyey.png" src="" class="lazy" />
                </li>
                <li>
                    <h3>效果数据化</h3>
                    <p>学习过程可视化、数据化，老师精准掌握孩子的学习优劣势，家长随时体验监督，双管齐下，整体提升学习体验。</p>
                </li>
            </section>
        </section>
    </section>
    <!-- 对校区而言 -->
    <section class="school pub_style">
        <h3 class="school_help">对校区而言</h3>
        <dl>
            <dt><img data-original="/static/assets/img/pic_dxqey1.png" src="" class="lazy"></dt>
            <dd>
                <h3>扩大载容量</h3>
                <p>
                    对于常规校区而言，课程优越、师资雄厚可以帮助校区快速积累生源，但教室的载容量大小则是影响校区发展的一个重要原因。OMO教育模式在一定程度上为校区节省了一半的校区载容量，这也将成为校区扩招生源的关键因素。
                </p>
            </dd>
        </dl>
        <dl>
            <dt>
                <h3>增加生源量</h3>
                <p>
                    “魔数思维”旗下的“魔法小奇兵”APP，在帮助学员学习、复习的同时，还包含了分享营销的功能。学员家长可以通过向朋友分享链接解锁关卡，潜在学员家长也可以使用APP中的思维游戏功能及学习测评功能等，由此起到为校区引流的作用。
                </p>
            </dt>
            <dd><img data-original="/static/assets/img/pic_dxqey2.png" src="" class="lazy"></dd>
        </dl>
    </section>
    <!-- 版权 -->
    {{template "index_footer"}}
    </body>
    </html>
{{end}}