{{define "index/omo.html"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{.title}}-{{.data.siteInfo.SiteTitle}}</title>
        <meta name="description" content="{{.data.siteInfo.SiteDesc}}" />
        <meta name="Keywords" content="{{.data.siteInfo.SiteKeyboard}}" />
        <link rel="shortcut icon" href="/static/assets/img/favicon.ico" />
        {{template "css"}}
        <link href="/static/FrontEnd/css/omo.css" rel="stylesheet">
    </head>
    <body>
    {{ template "menu" .}}
    <section class="menu">
        <ul>
            {{ range  .data.menu }}
                {{ $act := "/omo" }}
                <a href="{{.BaseUrl}}" {{ if eq .BaseUrl $act }} class="menu_index" {{end}}>{{.Name}}</a>
            {{end}}
        </ul>
    </section>
    <!-- 轮播 -->
    {{ template "banner" .}}
    <!-- 全新OMO教育模式 形成全场景闭环教学空间 -->
    {{ template "omo" .}}
    <!-- OMO推动新一代教育变革 为教育赋能 -->
    <section class="pub change">
        <h3 class="w12 f36 changeTit">{{ .data.energize.Name }}</h3>
        <section class="bline w12">
            <p>
                <span></span>
            </p>
        </section>
        <section class="change_desc">
            {{ .data.energize.Content }}
        </section>
        <section class="change_con">
            {{ range .data.fn }}
            <dl>
                <dt>
                    <img src="{{ .ThumbImg }}" class="lazy" />
                </dt>
                <dd>
                    <h3>{{ .Name }}</h3>
                    <p>{{ .Content }}</p>
                </dd>
            </dl>
            {{end}}
        </section>
    </section>
    {{template "footer" .}}
    </body>
    </html>
{{end}}