{{define "index/research.html"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/static/assets/img/favicon.ico" />
        <title>{{.title}}-{{.data.siteInfo.SiteTitle}}</title>
        <meta name="description" content="{{.data.siteInfo.SiteDesc}}" />
        <meta name="Keywords" content="{{.data.siteInfo.SiteKeyboard}}" />
        {{template "css"}}
        <link href="/static/FrontEnd/css/research.css" rel="stylesheet">
    </head>
    <body>
    {{ template "menu" .}}
    <section class="menu">
        <ul>
            {{ range  .data.menu }}
                {{ $act := "/research" }}
                <a href="{{.BaseUrl}}" {{ if eq .BaseUrl $act }} class="menu_index" {{end}}>{{.Name}}</a>
            {{end}}
        </ul>
    </section>
    <!-- 轮播 -->
    {{ template "banner" .}}
    <!-- 著名数理专家倾情加盟 倾力打造魔法数学课程 -->
    <section class="pub sub">
        <section class="sub_tit w12">
            <h3 class="w12 f36">著名数理专家倾情加盟 倾力打造魔法数学课程</h3>
            <section class="bline w12">
                <p>
                    <span></span>
                </p>
            </section>
        </section>
    </section>
    <section class="sub_con">
        {{ range .data.celebrity}}
        <li>
            <img src="{{.ThumbImg}}" class="lazy"/>
        </li>
        <li>
            <span>{{.Name}}</span>
            {{.Content | unescaped}}
        </li>
        {{end}}
    </section>
    <!-- 魔法数学教材 让独立思考成为孩子的习惯 -->
    <section class="pub xiguai">
        <section class="xiguai_con">
            <h3 class="w12 f36">{{ .data.xiguai.Name}}</h3>
            <section class="bline w12">
                <p>
                    <span></span>
                </p>
            </section>
            <h4> {{.data.xiguai.Content | unescaped}}</h4>
            <section class="jiao_li">
                {{ range .data.course }}
                    <img src="{{ .Imgurl }}" class="lazy"/>
                {{end}}
            </section>
        </section>
    </section>
    <!-- 多种教具配合教材使用 让学习效果事半功倍 -->
    <section class="pub gbei">
        <h3 class="w12 f36">{{ .data.double.Name}}</h3>
        <section class="bline w12">
            <p>
                <span></span>
            </p>
        </section>
        <p class="gbei_desc">{{ .data.double.Content | unescaped}}</p>
        <section class="sbgb">
            <img src="{{ .data.double.ThumbImg}}" class="lazy" />
        </section>
    </section>
    <section class="pub jiaojiao">
        <section class="jiaojiao_con w12">
            <h3 class="f36 w12">{{.data.mfbCon.Name}}</h3>
            <section class="bline w12">
                <p>
                    <span></span>
                </p>
            </section>
            <p class="jiaojiao_desc">{{.data.mfbCon.Content}}</p>
            <section class="tyec_con">
                <section class="tyec_l">
                    <dl>
                        <dt>
                            <img  src="{{.data.show.Imgurl}}" class="lazy"/>
                        </dt>
                        <dd></dd>
                    </dl>
                </section>
                <section class="tyec_r">
                    <section class="tyec_r_t">
                        <dl>
                            <dt><img src="{{.data.big.Imgurl}}" class="lazy" /></dt>
                            <dd></dd>
                        </dl>
                    </section>
                    <section class="tyec_r_b">
                        {{ range .data.mfb}}
                            <dl>
                                <dt><img src="{{.Imgurl}}" class="lazy" /></dt>
                                <dd></dd>
                            </dl>
                        {{end}}
                    </section>
                </section>
            </section>
        </section>
    </section>
    {{template "footer" .}}
    </body>
    </html>
{{end}}