{{define "index/research.html"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>教研教学</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-touch-fullscreen" content="yes">
        {{template "head"}}
        <link href="/static/assets/css/research.css" rel="stylesheet"/>
    </head>
    <body>
    {{template "nav"}}
    <section class="research_banner">
        <img src="/static/assets/img/research_banner.jpg" />
    </section>
    <!-- 专家团队 -->
    <section class="team">
        <section class="tit">
            <p class="direction left">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
            <h3 class="left">专家团队</h3>
            <p class="direction left dr">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
        </section>
        <h3 class="idea_tit">
            中科院专家、哈佛精英强强联手，众多专家倾情加盟
        </h3>
        <section class="team_ul">
            <li>
                <img src="" data-original="/static/assets/img/pic_zml.png" class="lazy"/>
            </li>
            <li>
                <img src="" data-original="/static/assets/img/pic_zxl.png" class="lazy"/>
            </li>
            <li>
                <img src="" data-original="/static/assets/img/pic_myp.png" class="lazy"/>
            </li>
            <li>
                <img src="" data-original="/static/assets/img/pic_yj.png" class="lazy"/>
            </li>
            <li class="mr0">
                <img src="" data-original="/static/assets/img/pic_lbz.png" class="lazy"/>
            </li>
        </section>
    </section>
    <!-- 立体化教学体系 -->
    <section class="lthjxtx">
        <section class="tit">
            <p class="direction left">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
            <h3 class="left">立体化教学体系</h3>
            <p class="direction left dr">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
        </section>
        <section class="pic_lthjxtx">
            <img data-original="/static/assets/img/pic_lthjxtx.png" src="" class="lazy"/>
        </section>
    </section>
    <!-- 魔法数学教学方法 -->
    <section class="method_warp">
        <section class="method">
            <section class="tit">
                <p class="direction left">
                    <span class="line magic_line"></span>
                    <span class="circle magic_circle"></span>
                </p>
                <h3 class="left">魔法数学教学方法</h3>
                <p class="direction left dr">
                    <span class="line magic_line"></span>
                    <span class="circle magic_circle"></span>
                </p>
            </section>
            <section class="method_ul">
                <dl class="qj">
                    <dt></dt>
                    <dd>
                        <h3>情境故事教学</h3>
                        <p>将数学知识点融入到生动有趣的情境故事中，学生在故事中不知不觉学会数学知识，同时锻炼思维能力。</p>
                    </dd>
                </dl>
                <dl class="qf">
                    <dt></dt>
                    <dd>
                        <h3>启发思维教学</h3>
                        <p>跳脱填鸭式教学，启发学生的思考，在快乐学习的同时逐步养成动脑筋爱数学独立思考的好习惯。</p>
                    </dd>
                </dl>
                <dl class="sh">
                    <dt></dt>
                    <dd>
                        <h3>生活体验教学</h3>
                        <p>幼儿数学，生活中无处不在。学生在课堂中体验生活中的数学，实际操作动手做，锻炼创造性思维。</p>
                    </dd>
                </dl>
                <dl class="dw">
                    <dt></dt>
                    <dd>
                        <h3>多维式教学</h3>
                        <p>教具形式丰富多彩，教学方式多种多样，多媒体教学师生互动，学习效率倍增。</p>
                    </dd>
                </dl>
                <dl class="pg mr0">
                    <dt></dt>
                    <dd>
                        <h3>品格教育</h3>
                        <p>将品格教育融入课堂，品格为先，全面发展。让学生思考、探索、学习能力得到提升的同时，培养正确的价值观。</p>
                    </dd>
                </dl>
            </section>
        </section>
    </section>
    <!-- 魔法数学教学闭环 -->
    <section class="mfsxjxbh">
        <section class="tit">
            <p class="direction left">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
            <h3 class="left">魔法数学教学闭环</h3>
            <p class="direction left dr">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
        </section>
        <section class="pic_mfsxjxbh">
            <img data-original="/static/assets/img/pic_mfsxjxbh.png" src="" class="lazy"/>
        </section>
    </section>
    <!-- 2020魔法数学教材4.0 -->
    <section class="number_four_warp">
        <section class="number_four">
            <section class="tit">
                <p class="direction left">
                    <span class="line magic_line"></span>
                    <span class="circle magic_circle"></span>
                </p>
                <h3 class="left">2020魔法数学教材4.0</h3>
                <p class="direction left dr">
                    <span class="line magic_line"></span>
                    <span class="circle magic_circle"></span>
                </p>
            </section>
            <h3 class="idea_tit">研发团队十年间不断自我革新，只为让孩子学到更好的数学思维课程</h3>
            <section class="number_four_ul">
                <dl class="qj">
                    <dt></dt>
                    <dd>
                        <img data-original="/static/assets/img/pic_V1.0.png" src="" class="lazy">
                        <span>专家团队自主研发，隆重推出智能化儿童数理思维课程</span>
                    </dd>
                </dl>
                <dl class="qf">
                    <dt></dt>
                    <dd>
                        <img data-original="/static/assets/img/pic_V2.0.png" src="" class="lazy">
                        <span>历经两年时间教学实践，更融合中国本土儿童的学习需求</span>
                    </dd>
                </dl>
                <dl class="sh">
                    <dt></dt>
                    <dd>
                        <img data-original="/static/assets/img/pic_V3.0.png" src="" class="lazy">
                        <span>更标准化赋能教学内容、优化教学体系，获教育部“十二五”全脑教育课题成果奖</span>
                    </dd>
                </dl>
                <dl class="dw mr0">
                    <dt></dt>
                    <dd>
                        <img data-original="/static/assets/img/pic_V4.0.png" src="" class="lazy">
                        <span>OMO线上线下同步学习，打造多媒体M.I.C助教系统、未来教室应用系统、云学习平台，联合研发直播课软硬件系统</span>
                    </dd>
                </dl>
            </section>
        </section>
    </section>
    <!-- 教具展示 -->
    <section class="juzs pub_style">
        <section class="tit">
            <p class="direction left">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
            <h3 class="left">教具展示</h3>
            <p class="direction left dr">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
        </section>
        <section class="pic_juzs">
            <img data-original="/static/assets/img/pic_juzs.png" src="" class="lazy"/>
        </section>
    </section>
    <!-- 多种趣味课外活动 -->
    <section class="sport">
        <section class="sport_con">
            <section class="tit">
                <p class="direction left">
                    <span class="line magic_line"></span>
                    <span class="circle magic_circle"></span>
                </p>
                <h3 class="left">多种趣味课外活动</h3>
                <p class="direction left dr">
                    <span class="line magic_line"></span>
                    <span class="circle magic_circle"></span>
                </p>
            </section>
        </section>
        <h3 class="idea_tit">
            魔法数学融合多元思维课程及生活趣味课程：科学思维课、语言思维课、魔方、纸牌速算、七巧板、积木、几何空间搭建、国内外赛事、夏令营/冬令营、暑期班、寒假班、国际游学等多种形式的课程与活动。
        </h3>
        <section class="sport_ul">
            <section class="sport_ul_top">
                <dl>
                    <dt>
                        <img data-original="/static/assets/img/pic_activity1.png" src="" class="lazy" />
                    </dt>
                    <dd>3C3Q课堂教学</dd>
                </dl>
                <dl class="sport_ul_mid">
                    <dt>
                        <img data-original="/static/assets/img/pic_activity2.png" src="" class="lazy"/>
                        <span>魔术数学</span>
                    </dt>
                    <dd>
                        <img data-original="/static/assets/img/pic_activity3.png" src="" class="lazy"/>
                        <span>时间关系数学</span>
                    </dd>
                </dl>
                <dl class="mr0">
                    <dt>
                        <img data-original="/static/assets/img/pic_activity4.png" src="" class="lazy"/>
                    </dt>
                    <dd>空间位置</dd>
                </dl>
            </section>
            <section class="sport_ul_bottom">
                <dl>
                    <dt>
                        <img data-original="/static/assets/img/pic_activity5.png" src="" class="lazy"/>
                    </dt>
                    <dd>七巧板教学</dd>
                </dl>
                <dl class="sport_ul_bottom_mid">
                    <dt>
                        <img data-original="/static/assets/img/pic_activity6.png" src="" class="lazy" />
                    </dt>
                    <dd>纸牌速算</dd>
                </dl>
                <dl class="mr0">
                    <dt>
                        <img data-original="/static/assets/img/pic_activity7.png"  src="" class="lazy"/>
                    </dt>
                    <dd>魔方数学</dd>
                </dl>
            </section>
        </section>
    </section>
    <!-- 魔法杯·思维盛典 -->
    <section class="grand">
        <section class="tit">
            <p class="direction left">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
            <h3 class="left">魔法杯·思维盛典</h3>
            <p class="direction left dr">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
        </section>
        <h3 class="idea_tit">
            “魔法杯”思维盛典由“中国管理科学研究院素质教育研究所多元智能测评研究中心”及“移动互联少儿教育联盟”主办，易乐教育集团承办，中国教育电视台录播及众多媒体支持。
        </h3>
        <section class="grand_ul">
            <li>
                <img data-original="/static/assets/img/pic_magic1.png" src="" class="lazy"/>
            </li>
            <li>
                <img data-original="/static/assets/img/pic_magic2.png" src="" class="lazy"/>
            </li>
            <li>
                <img data-original="/static/assets/img/pic_magic3.png" src="" class="lazy"/>
            </li>
            <li class="mr0">
                <img data-original="/static/assets/img/pic_magic4.png" src="" class="lazy"/>
            </li>
            <li>
                <img data-original="/static/assets/img/pic_magic5.png" src="" class="lazy"/>
            </li>
            <li class="mr0">
                <img data-original="/static/assets/img/pic_magic6.png" src="" class="lazy"/>
            </li>
        </section>
    </section>
    <!-- 学员家长反馈 -->
    <section class="feedback_con">
        <section class="feedback">
            <section class="tit">
                <p class="direction left">
                    <span class="line magic_line"></span>
                    <span class="circle magic_circle"></span>
                </p>
                <h3 class="left">学员家长反馈</h3>
                <p class="direction left dr">
                    <span class="line magic_line"></span>
                    <span class="circle magic_circle"></span>
                </p>
            </section>
            <section class="feedback_ul">
                <dl class="yc">
                    <dt></dt>
                    <dd>
                        <span>雨晨妈妈</span>
                        <p>非常感谢魔法数学老师对孩子的悉心教导，我家孩子现在对数学不在厌烦了。魔法数学让她渐渐爱上了数学，我希望她以后都能快乐的学习数学！</p>
                    </dd>
                </dl>
                <dl class="jj">
                    <dt></dt>
                    <dd>
                        <span>嘉嘉妈妈</span>
                        <p>同事的孩子通过在魔法数学的学习，现在小学数学考试都是满分。同事把魔法数学介绍给我后，我也赶快带着孩子来报名了。现在我家孩子每天都坚持思维练习，还给自己定了个小目标，若干年后要拿下“理科小王子”的称号，我们会继续努力的！</p>
                    </dd>
                </dl>
                <dl class="yy">
                    <dt></dt>
                    <dd>
                        <span>阳阳妈妈</span>
                        <p>多亏了早早让孩子学了魔法数学思维，他现在对思维数学非常感兴趣，进入初中以后，不管哪次考试，儿子数学一直是年级100分的满分成绩，非常感谢魔法数学带来的这么好的教学方法！还有，数理思维培养真的很重要！</p>
                    </dd>
                </dl>
                <dl class="tt mr0">
                    <dt></dt>
                    <dd>
                        <span>团团妈妈</span>
                        <p>
                            团团从去年九月到现在一直在学魔法数学，每次下课几头牛都拉不走，瞬间以为我生了一个超爱学习的宝宝。其实，是老师们善于运用游戏跟学习练习在一起，让他们快乐学习，我想这就是素质教育吧！魔法数学真的非常值得推荐，有兴趣的宝妈可以让孩子试一试！
                        </p>
                    </dd>
                </dl>
            </section>
        </section>
    </section>
    <!-- 版权 -->
    {{template "index_footer"}}
    </body>
    </html>
{{end}}