{{define "index/subject.html"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <title>课程体系</title>
        {{template "head"}}
        <link href="/static/assets/css/subject.css" rel="stylesheet"/>
    </head>
    <body>
    {{template "nav"}}
    <section class="subject_banner">
    </section>
    <!-- 儿童数理思维发展关键期 -->
    <section class="key">
        <section class="tit">
            <p class="direction left">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
            <h3 class="left">儿童数理思维发展关键期</h3>
            <p class="direction left dr">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
        </section>
        <h3 class="key_tit">关注孩子数理思维发展关键期，让学习事半功倍。</h3>
        <section class="level">
            <dl class="two_year">
                <dt>2岁半左右</dt>
                <dd>
                    幼儿计数能力开始萌芽的关键期
                </dd>
            </dl>
            <dl class="three_year">
                <dt>3岁半左右</dt>
                <dd>
                    幼儿专注力发展的关键期
                </dd>
            </dl>
            <dl class="four_year">
                <dt>4岁半左右</dt>
                <dd>
                    幼儿掌握数概念，进行抽象运算以及综合数学能力开始形成的关键期
                </dd>
            </dl>
            <dl class="five_year mr0">
                <dt>5岁半左右</dt>
                <dd>
                    幼儿抽象逻辑思维开始萌芽的关键期，是幼儿悟性开始萌芽的关键期
                </dd>
            </dl>
        </section>
    </section>
    <!-- 五大体系，为孩子潜心设计未来 -->
    <section class="setup_container">
        <section class="setup">
            <section class="tit">
                <p class="direction left">
                    <span class="line magic_line"></span>
                    <span class="circle magic_circle"></span>
                </p>
                <h3 class="left">五大体系，为孩子潜心设计未来</h3>
                <p class="direction left dr">
                    <span class="line magic_line"></span>
                    <span class="circle magic_circle"></span>
                </p>
            </section>
            <section class="setup_con">
                <dl class="thought">
                    <dt></dt>
                    <dd>
                        <h3>
                            <span>3</span>
                            层思维脑力开发
                        </h3>
                        <p>
                            能量型 （刺激大脑活跃度）<br/>
                            信息型（刺激大脑记忆力）<br/>
                            动力型（刺激大脑思考力）
                        </p>
                    </dd>
                </dl>
                <dl class="sense">
                    <dt></dt>
                    <dd>
                        <h3>
                            <span>4</span>
                            项全闭环多感官刺激
                        </h3>
                        <p>
                            全员参与（一个都不少）<br/>
                            全过程（学习过程全闭环）<br/>
                            全天候（家园互动）<br/>
                            全方位（全领域、多视角、多维度）
                        </p>
                    </dd>
                </dl>
                <dl class="practice">
                    <dt></dt>
                    <dd>
                        <h3>
                            <span>5</span>
                            项领域实践
                        </h3>
                        <p>
                            运动操作<br/>
                            言语表达<br/>
                            科学实践<br/>
                            艺术熏陶<br/>
                            社会活动
                        </p>
                    </dd>
                </dl>
                <dl class="test">
                    <dt></dt>
                    <dd>
                        <h3>
                            <span>6</span>
                            维度迭代习练
                        </h3>
                        <p>
                            数学关系<br/>
                            空间方位<br/>
                            对应关系<br/>
                            形色分表<br/>
                            序比较<br/>
                            逻辑推理
                        </p>
                    </dd>
                </dl>
                <dl class="elearn">
                    <dt></dt>
                    <dd>
                        <h3>
                            <span>7</span>
                            项GDI教学法
                        </h3>
                        <p>
                            主题故事导入法<br/>
                            思维突破训练法<br/>
                            重叠逻辑教学法<br/>
                            多元拓展教学法<br/>
                            全域思维要素植入法<br/>
                            纵向六段学习法<br/>
                            主题沉浸体验教学法
                        </p>
                    </dd>
                </dl>
            </section>
        </section>
    </section>
    <!-- 六个维度，激发孩子全脑思维 -->
    <section class="dimension">
        <section class="tit">
            <p class="direction left">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
            <h3 class="left">五大体系，为孩子潜心设计未来</h3>
            <p class="direction left dr">
                <span class="line magic_line"></span>
                <span class="circle magic_circle"></span>
            </p>
        </section>
        <section class="dimension_con">
            <dl class="correspond">
                <dt></dt>
                <dd>
                    <h3>对应关系</h3>
                    <p>
                        形色对应<br/>
                        路径对应<br/>
                        数量对应<br/>
                        代数概念<br/>
                        位置对应<br/>
                        集合概念
                    </p>
                </dd>
            </dl>
            <dl class="space">
                <dt></dt>
                <dd>
                    <h3>空间位置</h3>
                    <p>
                        前后对应<br/>
                        远近关系<br/>
                        左右关系<br/>
                        坐标位置<br/>
                        上下关系<br/>
                        里外计数
                    </p>
                </dd>
            </dl>
            <dl class="various">
                <dt></dt>
                <dd>
                    <h3>形色分类</h3>
                    <p>
                        形色辨识<br/>
                        归纳运算<br/>
                        形色组合<br/>
                        异同观察<br/>
                        形色分类<br/>
                        多维分类
                    </p>
                </dd>
            </dl>
            <dl class="num">
                <dt></dt>
                <dd>
                    <h3>数量运算</h3>
                    <p>
                        唱数训练<br/>
                        减法运算<br/>
                        运算训练<br/>
                        倍数概念<br/>
                        加法合成<br/>
                        分配概念
                    </p>
                </dd>
            </dl>
            <dl class="logic">
                <dt></dt>
                <dd>
                    <h3>逻辑分析</h3>
                    <p>
                        大小关系<br/>
                        逆向思考<br/>
                        圆形关联<br/>
                        规律辨识<br/>
                        正向思考<br/>
                        容量关系
                    </p>
                </dd>
            </dl>
            <dl class="lg">
                <dt></dt>
                <dd>
                    <h3>序与比较</h3>
                    <p>
                        时间关系<br/>
                        长短比较<br/>
                        书序关系<br/>
                        大小比较<br/>
                        数量多少<br/>
                        容量大小
                    </p>
                </dd>
            </dl>
        </section>
    </section>
    <!-- 课程体系 -->
    <section class="curriculum">
    </section>
    <!-- 魔数思维五步法 -->
    <section class="five_steps">
        <img src="/static/assets/img/WechatIMG70.png" />
    </section>
    <!-- 版权 -->
    {{template "index_footer"}}
    </body>
    </html>
{{end}}