{{define "article/detail.html"}}
{{template "header"}}
    <style>
        .layui-card:last-child {
            padding: 20px 20px 10px 10px;
        }
        .layui-upload-img {
            width: 92px;
            height: 92px;
            margin: 0 10px 10px 0;
        }
        #bposition{
            display: block;
        }
        .layui-form input[type=checkbox], .layui-form input[type=radio], .layui-form select {
            display: block;
            float: left;
        }
        .spanL{
            float: left;
            display: inline-block;
            margin-right: 10px;
            margin-top: 10px;
        }
        #demo1{
            display: none;
        }
    </style>
<link href="/static/dist/summernote.css" rel="stylesheet"/>
<script src="/static/dist/summernote.js"></script>
<script src="/static/dist/lang/summernote-zh-CN.js"></script>    <!-- 中文-->
<script>
    $(function(){
        $('#content').summernote({
            height: 200,
            tabsize: 2,
            lang: 'zh-CN',
            callbacks:{
                onImageUpload: function(files, editor, $editable) {
                    uploadSummerPic(files[0], editor, $editable);
                },
                insertImage:function ($editable,file) {
                    console.log(file)
                }
            }
        });

        function uploadSummerPic(file, editor, $editable) {
            let fd = new FormData();
            let fileName = file['name'];
            fd.append("file", file);
            $.ajax({
                type:"POST",
                url:"/api/v1/upload",
                data: fd,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    let _url = "/static/upload/"+data.data;
                    $('#content').summernote('insertImage', _url, fileName);
                }
            });
        }
    });
</script>
<body>
<div class="x-nav">
    <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">Banner管理</a>
        <a><cite>Banner详情</cite></a>
    </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
                <div class="layui-card">
                    <form class="layui-form" id="add_form" action="">
                        <input type="hidden" id="id" name="id" value="{{.id}}">
                        <div class="layui-form-item">
                            <label class="layui-form-label">标题</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" placeholder="请输入标题" id="title" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">来源</label>
                            <div class="layui-input-block">
                                <input type="text" name="com" placeholder="请输入来源" id="com" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">摘要</label>
                            <div class="layui-input-block">
                                <textarea placeholder="请输入内容" id="summary" name="summary" class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">缩率图</label>
                            <div class="layui-input-block">
                                <div class="layui-upload">
                                    <input type="hidden" id="thumb_img" name="thumb_img" value="">
                                    <button type="button" class="layui-btn" id="test1">上传图片</button>
                                    <div class="layui-upload-list">
                                        <img class="layui-upload-img" id="demo1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">发布者</label>
                            <div class="layui-input-block">
                                <input type="text" name="admin" placeholder="请输入发布者" id="admin" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">是否热点</label>
                            <div class="layui-input-block">
                                <span class="spanL">
                                    <input type="radio" name="hot" id="hot" value="1" checked="">是
                                </span>
                                <span class="spanL">
                                    <input type="radio" name="hot" id="hot" value="2" >否
                                </span>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">内容</label>
                            <div class="layui-input-block">
                                <textarea placeholder="请输入内容" id="content" name="content" class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">排序</label>
                            <div class="layui-input-block">
                                <input type="text" name="sort" placeholder="优先级 数字越大，排名越前" id="sort" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item" pane="">
                            <label class="layui-form-label">状态：</label>
                            <div class="layui-input-block">
                                <span class="spanL">
                                    <input type="radio" name="is_show" id="is_show" value="1" checked="">正常
                                </span>
                                <span class="spanL">
                                    <input type="radio" name="is_show" id="is_show" value="2" >禁止
                                </span>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn subCon">立即提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </div>
</div>
<script src="/static/js/articleDetail.js"></script>
</body>
</html>
{{end}}