/*抓住成长关键期 培养孩子每个阶段具备的核心能力*/
.power {
    margin-top: 68px;
    height:224px;
}
.powerTit{
    text-align: center;
    height: 75px;
    font-size: 33px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #8055D0;
    line-height: 40px;
    margin: 28px auto;
}
.powerUl {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px auto 0 auto;
}
.powerUl li {
    width: 145px;
    height: 51px;
    background: #A070F9;
    box-shadow: 0px 3px 18px 2px rgba(187, 153, 250, 0.48);
    border-radius: 26px;
    text-align: center;
    font-size: 25px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 51px;
}
.powerUl li:nth-child(2), .powerUl li:nth-child(4) {
    width: 88px;
    height: 51px;
    background: url(../img/powerUl.png) no-repeat center center;
    background-size: 64px 12px;
    border-radius: unset;
    box-shadow: none;
}
/*探索精神 & 主动求知态度*/
.power_con {
    margin-top: 37px;
    width: 100%;
    height: 432px;
    background: #E6DAFC;
    text-align: center;
}
.power_con_m {
    width: 677px;
    height: 317px;
    background: #FFFFFF;
    border-radius: 35px;
    margin:81px auto 0;
    position: relative;
}
.xs {
    background-size: 50px 35px;
    background: url(../img/xs.png) no-repeat left 94px top;
    position: absolute;
    z-index: 1;
    height: 25px;
    margin-top: -25px;
}
.power_con_tit{
    text-align: center;
    height: 25px;
    font-size: 25px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #A070F9;
    line-height: 21px;
    margin-top: 50px;
}
.power_con_m ul{
    margin-top: 26px;
}
.power_con_m ul li {
    width: 80%;
    height: 58px;
    line-height: 58px;
    background: #F8F4FF;
    display: flex;
    margin: 0 auto 9px auto;
    font-size: 17px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #000000;
}
.power_con_m ul li span:first-child{
    margin-left: 65px;
}
.power_con_m ul li span:last-child {
    width: 22px;
    height: 22px;
    background: #000;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    line-height: 22px;
    text-align: center;
    font-size: 11px;
    font-weight: normal;
    margin: 19px 36px 0 36px;
}
/*魔法数学课程体系 为少儿提供高品质的学习方案*/
.fanan{
    height: 1195px;
}
.fananTit{
    text-align: center;
    height: 58px;
    font-size: 25px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #8055D0;
    line-height: 33px;
    margin: 58px auto 29px auto;
}
.fanan_img{
    justify-content: center;
    text-align: center;
    margin-top: 35px;
}
.fanan_img img{
    height: 1011px;
}
/*趣味课堂 让孩子重拾数学乐趣*/
.haapy{
    height: 1731px;
    margin-bottom: 207px;
}
.happyTit{
    text-align: center;
    height: 58px;
    font-size: 25px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #8055D0;
    line-height: 33px;
    margin: 56px auto 27px auto;
}
.happy_ul {
    margin: 40px auto 0 auto;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
.happy_ul li {
    width: 327px;
    height: 258px;
    background: #F5FAFD;
    font-size: 25px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #595858;
    line-height: 37px;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.p120 {
    padding-top: 97px;
}
/*六大教学体系 促进思维发展*/
.sxiBig{
    width: 100%;
    height: 2112px;
    background: #A070F9;
    margin-top: 54px;
}
.sxiBig .bline{
    margin-bottom: 103px;
}
.sxiBig  .bline p span{
    background: #FFFFFF;
}
.sxiBig .bline p{
    border-bottom:1px solid #FFFFFF;
}
.sxiBig .sxiBigTit{
    width: 100%;
    height: 48px;
    text-align: center;
    font-size: 48px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 48px;
    margin: 103px auto 50px auto;
}
.leftBrain{
    width: 100%;
    height: 762px;
    margin-bottom: 115px;
}
.nr{
    width: 260px;
    height: 238px;
    background: #FFFFFF;
    box-shadow: 0px 12px 27px 0px rgba(133, 103, 187, 0.64);
    border-radius: 30px;
    margin-bottom: 24px;
    margin-left: 34px;
}
.nr h4{
    width: 100%;
    height: 38px;
    text-align: center;
    line-height: 38px;
    font-size: 30px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #A070F9;
    margin: 34px auto 20px auto;
    display: inline-block;
}
.nr p{
    width: 100%;
    text-align: center;
    font-size: 21px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #A070F9;
    line-height: 41px;
}
.leftBrainCon{
    height: 762px;
}
.rightBrain .rightBrainCon{
    width: 294px;
    float: right;
}
.rightBrain{
    height: 786px;
    width: 100%;
    margin-bottom: 143px;
}
.rightBrainCon .nr{
    margin-left: 0;
    margin-right:20px;
}