ul li,li{
    list-style: none;
}
img{
    border: none;
}
a,a:hover{
    text-decoration: none;
}
p,h1,h2,h3,h4,h5,h6,h7,ul,dl,dd,dt{
    margin: 0;
    line-height: unset;
}
ul{
    padding: 0;
}
body{
    background: #EDEDED;
}
.new_ul{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.new_ul a{
    width: 93%;
    height: 109px;
    margin: 0  auto;
    border-bottom: 1px solid #EFEFEF;
    text-decoration: none;
}
.new_ul a:first-child{
    margin-top: 20px;
}
.new_ul a:last-child{
    margin-bottom: 0;
    border-bottom:none;
}
.new_ul a:hover{
    text-decoration: none;
}
.new_ul a img {
    width:100%;
    border-radius: 10px;
    height: 100%;
}
.new_ul .DR i{
    float: left;
}
.new_ul a:hover{
    background: #DFE9F2;
}
.new_ul a dl{
    height: 90px;
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.new_ul .DR i {
    float: left;
    position: absolute;
    bottom: 20px;
    left: 10px;
    color: #fff;
}
.new_ul .DR{
    width: 160px;
    border-radius: 10px;
    float: right;
    overflow: hidden;
}
.new_ul .DL{
    float: right;
    width: 45%;
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 90px;
    overflow: hidden;
}
.new_left{
    width: 77px;
    float: left;
    height: 129px;
}
.new_ul a dl .new_left .date{
    width:77px;
    height:31px;
    font-size:24px;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:31px;
    display: inline-block;
}
.year{
    width:33px;
    height:19px;
    font-size:14px;
    font-family:MicrosoftYaHei;
    color:rgba(51,51,51,1);
    line-height:19px;
    display: inline-block;
    float: left;
}
.new_left_line{
    width:2px;
    height:18px;
    background:rgba(0,161,240,1);
    border-radius:1px;
    float: right;
    display: inline-block;
    margin-top: 7px;
}
.new_right{
    height: 103px;
    display: inline-block;
}
.new_right h3{
    width: 195px;
    height: 59px;
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 22px;
    margin-top: 5px !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.new_right p{
    margin-top: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size:16px;
    font-family:MicrosoftYaHei;
    color:rgba(51,51,51,1);
    line-height:25px;
}
.read{
    height: 17px;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #666666;
    line-height: 17px;
    float: left;
    display: inline-block;
}
.form_tit{
    margin: 0 auto;
    background: #FFFFFF;
    width: 80%;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    border: 1px solid rgba(226,31,39,1);
    display: flex;
    justify-content: start;
    box-sizing: content-box;
}
.subBtn{
    width: 80%;
    text-align: center;
    margin: 20px auto 0 auto;
}
.subBtn .van-button--info{
    width: 100%;
    height: 40px;
    background: rgba(220,66,54,1);
    box-shadow: 0px 2px 7px 0px rgba(220,66,54,0.29);
    border-radius: 23px;
    font-weight: 500;
    font-size: 1.6rem;
    border: 1px solid #DC4236;
    color: #fff;
    display: inline-block;
    line-height: 28px;
    cursor: pointer;
}
.form_tit input {
    width: 98%;
    height: 100%;
    border-radius: 16px;
    border: none;
    outline: none;
    text-indent: 20px;
    margin: 0 auto;
}
.video_check{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
}
.video{
    position: relative;
    background: #fff;
}
.banner_myform{
    margin-top: 30%;
}
.video_tit{
    width: 100%;
    text-indent: 20px;
    font-size: 22px;
    line-height: 30px;
    padding: 12px 16px 0;
}