html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent; text-decoration: none;}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
body, html {
    height: 100%;
	min-height: 100%;
}
*,
*:before,
*:after {  -moz-box-sizing: border-box; -webkit-box-sizing: border-box;  box-sizing: border-box; }
header, 
section, 
ul, 
ol { list-style: none outside none; }
.esc { position: relative;	width: 100%; height: 1px; clear: both; }
.clearfix:after {  content: "";  display: table;  clear: both; }


.pub{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.bline{
    height: 2px;
}
.bline p{
    width: 183px;
    height: 2px;
    border-bottom: 1px solid #000;
    display: block;
    margin: 0 auto;
}
.bline p span{
    width: 60px;
    height: 2px;
    background: #8567BB;
    display: block;
    margin: 0 auto;
}
.w100{
    width: 100%;
    margin: 0 auto;
}

/*底部*/
.footer{
    width: 100%;
    background: #000000;
    height: 1248px;
}
.chengnuo{
    text-align: center;
    height: 21px;
    font-size: 21px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 21px;
    margin: 28px auto 74px auto;
}
.copyrightBng{
    height: 108px;
    text-align: center;
}
.copyrightBng img{
    width: 264px;
    height: 108px;
}
.sqphone{
    height: 44px;
    font-size: 26px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #FEFEFE;
    line-height: 44px;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-bottom: 21px;
    margin-top: 28px;
}
.sqphone img {
    width: 44px;
    height: 44px;
    margin-right: 23px;
}
.address{
    text-align: center;
    height: 21px;
    font-size: 21px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 21px;
}
.copyright{
   text-align: center;
    height: 22px;
    font-size: 21px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #646262;
    line-height: 22px;
    margin: 28px auto 51px auto;
}
.wechart_ul{
    width: 394px;
    height: 213px;
    background: #F0F0F0;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: center;
}
.wechart{
    justify-content: center;
    height: 213px;
    text-align: center;
    margin-bottom: 47px;
}
.wechart_ul dl {
    margin-top: 37px;
    width: 110px;
    height: 105px;
}
.wechart_ul dl dd {
    width: 100%;
    height: 40px;
    font-size: 17px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #000000;
    line-height: 22px;
    margin-top: 7px;
}
.code_mid {
    width: 1px;
    height: 104px;
    background: #434343;
    border: 1px solid #000000;
    margin: 39px 40px 0 36px;
}
.bottom_form{
    width: 615px;
    height: 631px;
    background: #FFFFFF;
    box-shadow: 0px 3px 18px 2px rgba(135, 135, 135, 0.48);
    border-radius: 21px;
    margin: -89px auto 0 auto;
}

.c_form {
    width: 80%;
    height: 76px;
    line-height: 76px;
    background: #F5F5F5;
    border-radius: 38px;
    margin: 0 auto 38px auto;
    font-size: 30px;
}
.c_form label {
    float: left;
    width: 29%;
    text-align: center;
}
.c_form input {
    float: right;
    width: 71%;
    box-sizing: border-box;
    height: 76px;
    line-height: 76px;
    border: none;
    background: #F4F5F6;
    font-size: 1.4rem;
    color: #666;
    border-top-right-radius: 38px;
    border-bottom-right-radius: 38px;
}
.bTiti{
    text-align: center;
    height: 40px;
    font-size: 40px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #000000;
    line-height: 52px;
    margin: 69px auto 52px auto;
}
.f_btn{
    width: 213px;
    height: 76px;
    background: #8055D0;
    box-shadow: 0px 8px 19px 0px rgba(133, 103, 187, 0.64);
    border-radius: 38px;
    font-size: 28px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 76px;
    display: inline-block;
    text-align: center;
}
.form_btn{
    text-align: center;
}

.header_logo{
    height: 75px;
    justify-content: center;
    margin-bottom: 26px;
}

.header_logo img:first-child{
    width: 303px;
    height: 37px;
    margin-top: 35px;
}
.header_logo img:last-child{
    width: 127px;
    height: 47px;
    margin-top: 28px;
    margin-left: 13px;
}
.foot-box a {
    display: inline-block;
    width: 50%;
    font-size: 30px;
    color: #fff;
    background-color: rgb(247, 171, 0);
}
.foot-box {
    position: fixed;
    bottom: 0;
    z-index: 999;
    height: 90px;
    line-height: 90px;
    text-align: center;
    width: 100%;
}